{% extends 'base.html' %}

{% block titulo %}
    Configuración Modalidades
{% endblock titulo %}

{% block body %}
    {% include 'admin/config_nav.html' %}
    <!-- <p class="h1" style="padding-left: 50px; font-size: 25px; font-weight: bold; color: #676767;"> Modalidades</p>
    <hr> -->
    <style>
        #hideMe {
            -webkit-animation: cssAnimation 5s forwards; 
            animation: cssAnimation 5s forwards;
        }
        @keyframes cssAnimation {
            0%   {opacity: 1;}
            90%  {opacity: 1;}
            100% {opacity: 0;}
        }
        @-webkit-keyframes cssAnimation {
            0%   {opacity: 1;}
            90%  {opacity: 1;}
            100% {opacity: 0;}
        }
    </style>
    <div class="rounded-2 p-1 mx-4 principal">
        <div class="rounded-2 mx-4">
            <div class="row">
                <p class="col h5 subtitulo-mod">Modalidades</p>
                <hr>
            </div>
        </div>
        <div class="rounded-2 mx-4">          
            <div class="row">
                <div class="d-grid gap-1 col-2 mx-auto" style="margin-right: 0 !important">
                    <a href="{% url 'modalidades:AConfigAgregarModalidad' %}" class = "btn" id="btnAgregarMod">
                        Agregar
                    </a>    
                </div>   
            </div>
            <div class="row">
                <!-- Div con el que se muestra el mensaje de confirmación-checkbox modalidad -->
                <div class="jq-toast-wrap top-right" role="alert" aria-live="polite" id="mostrar_mod">
                </div>
                <!-- ciclo for que muestra una card por cada modalidad que hay -->
                {% for modalidad in modalidades%}
                <div class="col-md-4" style="padding-top: 10px; padding-bottom: 10px;">
                    <div class="card">
                        <div class="card-body card-modalidad">
                            {{ modalidad.tipo }}
                            <!-- Checkbox que funciona sin que la página se refresque usando HTMX y ajax -->
                            <form method="POST">
                            {% csrf_token %}
                            <input class="checkbox-modalidades form-check-input" type="checkbox" 
                            id="boton-estado-mod" name="set_value" 
                            value="{{ modalidad.id }}" {% if modalidad.mostrar == True %}checked{% endif %}
                            hx-post="{% url 'modalidades:mostrar_modalidad' modalidad.id %}" 
                            hx-trigger="click" hx-target="#mostrar_mod" >
                            <input type="hidden" name="mostrar" value="mostrar_modalidad">
                            </form>

                            <!-- Resto del card de la modalidad -->
                            <h5 class="card-title" id="tituloCard">{{modalidad.nombre}}</h5>
                            <img class="imagen-modalidad" src="{{ modalidad.imagen.url }}" alt="Imagen modalidad">
                            <br>
                            <a href="{% url 'modalidades:AConfigEditarModalidades' modalidad.id %}"  class="btn" 
                            style="background-color: #D5F5E2; color: #676767;">
                                Editar
                            </a>
                            <a href="{% url 'modalidades:AConfigEliminarModalidades' modalidad.id %}" 
                            class="btn" style="background-color: #E9C3C1; color: #676767;" 
                            onclick="return confirm('¿Está seguro que desea eliminar esta modalidad permanentemente?')">
                                Eliminar
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- <script>
        setTimeout(function(){
            document.getElementById('hideMe').className = 'hide';
        }, 5000);
    </script> -->

{% endblock body %}