<div class="row">
    <div class="col">

    </div>
    <p class="col h4">
        {{ titulo }}
    </p>
    <div class="col">
        {{ modalidadSelectForm.modalidad }}
    </div>
</div>
<div class="m-4 mx-auto " style="border: 2px solid var(--gris-principal); max-width: 90%;">    
   
    <div class="blanco font-bold font-md p-1" style="margin-bottom: 2px; border-bottom: 2px solid var(--gris-principal);">
        Beneficiarios
    </div>
    <ul class="cols-rows-auto-beneficiarios">
        {% for solicitud in solicitudes %}
        <li class="item {% cycle 'blanco' 'fondo-gris-0' %}">
            <div class="row m-0 py-2 px-3  align-items-center text-left font-semi-bold">
                <div class="col-3 col-md-2 mx-1 p-0">
                    {{ solicitud.solicitante.folio }}
                </div>
                <div class="col ps-1 ps-md-3 text-start mx-1 p-0">
                    {{ solicitud.solicitante.ap_paterno|title  }} {{ solicitud.solicitante.ap_materno|title  }} {{ solicitud.solicitante.nombre|title  }}
                </div>
                <div class="col-auto mx-1 p-0">
                    {{ solicitud.monto }}
                </div>                
            </div>
        </li>
        {% endfor %}
    </ul>
    
</div>

<script>
    $(document).ready(function() {
        $("#id_modalidad").change(function() {
            var selectedOption = $(this).val();
            ajaxResultados(selectedOption);
            // Realizar solicitud AJAX
            
        });
    });
</script>