{% extends 'base_transparencia.html'%}

{% block titulo %}
Inicio Estimulos COZCyT
{% endblock titulo %}

{% load static %}
{% load custom_filters %}
{% block body %}

    <!-- Div que contiene la descripción de los Estímulos COZCyT -->
    <div class="container flex-direction texto-general center" style="display: flex; margin-top: 2em; width: 100%;" id="container_inicio_sit">
        <div class="col-md-6" id="inicio_imagen_becas">
            <img class="img-fluid" src="{{ 'inicio_imagen_estimulos.svg'|static_image }}?v={{ cache_version }}" alt="persona con problemas en la computadora">
        </div>
        <div class="col-md-5" id="inicio_texto_becas" style="margin: 3em 5em 0 5em;">
            <h3 style="text-align: center;"><strong> Estímulos Sistema de Impulso al Talento </strong></h3>
            <p></p>
            <p class="font-md my-4" style="text-align: justify;">
                El Gobierno del Estado, a través del COZCyT, emite semestralmente la  convocatoria para Estímulos Sistema de 
                Impulso al Talento, que consiste en un apoyo económico  con recursos estatales y cuyo propósito es fomentar 
                las vocaciones de  Humanidades, Ciencia, Tecnología e Innovación (HCTI) en estudiantes de  instituciones de 
                educación pública de nivel media superior, superior y posgrado en la entidad.
            </p>
        </div>
    </div>

    <!-- Div que contiene la información de las modalidades -->
    <div class="texto-general center" style="margin-top: 2em; width: 100%; background-color: #fff; align-items: center;">
        <div id="info_convocatoria_titulo">
            <h3 style="text-align: center;">
                <br>
                <strong> Convocatoria {{ciclo}} </strong>
            </h3>
        </div>
        <br>
        <!-- Div que contiene el carrusel con la información de las modalidades -->
        <div class="flex-direction" style="display: flex; justify-content: center;">
            <!-- Carrusel donde se obtiene y muestra la info de las modalidades -->
            <div class="col-md-6" id="info_modalidades" style="border: 0.7px solid #EEE5E5; border-radius: 10px;">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {% for modalidad in modalidades %}
                        <div class="swiper-slide" style="width: auto !important;">
                            <div class="info_modalidad_slide" style="">
                                <div class="info_modalidad_desc col-md-8" style="margin-bottom: 1em;">
                                    <div class="info_modalidad_titulo">
                                        <h5><strong>{{modalidad.nombre}}</strong></h5>
                                    </div>
                                    <div class="info_modalidad_descripcion">
                                        <h6 style="text-align: justify;">
                                            {{modalidad.descripcion}}
                                        </h6>
                                    </div>
                                </div>
                                <div class="info_modalidad_image col-md-4" style="text-align: center;">
                                    <img  class="imagen-modalidad img-fluid" src="{{ modalidad.imagen.url }}" alt="Imagen modalidad">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="container">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div> 
            </div>
            <!--  Div que contiene las fechas de la convocatoria -->
            <div class="col-md-3 center" id="info_conv_fechas" style="border: 0.7px solid #EEE5E5; margin-left: 1em; border: 0.7px solid #EEE5E5; border-radius: 10px;">
                <div style="margin: 2em;">
                    <h5 style="text-align: center;">
                        <strong>Fecha de inicio: </strong>
                    </h5>
                    <h6 style="text-align: center;">
                        <!-- fecha inicial -->
                        <!-- dd/mm/aaaa -->
                        {{convocatoria.fecha_inicio}}
                    </h6>
                    <h5 style="text-align: center;">
                        <strong>Fecha de cierre: </strong>
                    </h5>
                    <h6 style="text-align: center;">
                        <!-- fecha final -->
                        <!-- dd/mm/aaaa -->
                        {{convocatoria.fecha_cierre}}
                    </h6>
                    <p></p>
                    <!-- Condicional que cambia el texto por
                    * "¡Convocatoria abierta! Quedan x días para que la convocatoria termine"
                    * "La convocatoria ha terminado" 
                    -->
                    {% if fecha_convocatoria %}
                    <h5 style="text-align: center; color: var(--secundario-f); margin-bottom: 0;">
                        <strong> Convocatoria abierta </strong>
                    </h5>
                    <h6 style="text-align: center; color: var(--secundario-f);">
                        {{ convocatoria.mensaje_estado_convocatoria }}
                    </h6>
                    {% else %}
                    <h5 style="text-align: center; color: var(--secundario-f);">
                        <strong> La convocatoria ha terminado </strong>
                    </h5>
                    {%endif%}
                    
                </div>
            </div>
        </div>
        <br>
        <div style="text-align: center; justify-content: center;">
            <div class="" style="align-items: center;">
                
                <a {% if convocatoria.archivo_convocatoria %} href="{{convocatoria.archivo_convocatoria.url}}" {% else %} href="#" {% endif %} >
                    <button {% if convocatoria.archivo_convocatoria %} href="{{convocatoria.archivo_convocatoria.url}}" {% else %} href="#" {% endif %} class="btn btnConvocatoria" style="width: 10%;" id="btnSabermas">
                        Saber más
                    </button>
                </a>
            </div>
        </div>
        <br>
        <br>
    </div>

    <!-- Div que contiene el contacto del departamento de becas -->
    <div class="texto-general center" style="margin-top: 1em; width: 100%; align-items: center;">
        <div class="flex-direction" style="display: flex; justify-content: center;">
            <div class="col-md-4" id="info_modalidades" style="border: 0.7px solid #EEE5E5; border-radius: 10px;">
                <div style="margin: 2em;">
                    <div class="" style="text-align: center;">
                        <h5 style="margin-bottom: 1em; color: var(--rosaO);"><strong>Si presenta alguna duda comuniquese con:</strong></h5>

                        <h6 style="margin-bottom: 0;">
                            <strong>Mtra. Sahara María del Río Venegas </strong> 
                        </h6>
                        <h6 style="margin-bottom: 0;">
                            Directora de Desarrollo de Talento en Ciencia, Tecnología e Innovación
                        </h6>
                        <h6 style="margin-bottom: 1em;">
                            <u>sdelrio@cozcyt.gob.mx</u>
                        </h6>
                        <h6 style="margin-bottom: 0;">
                            <strong> I.S.C. Nayeli Alcalá Aguilar </strong>
                        </h6>
                        <h6 style="margin-bottom: 0;">
                            Jefa del Departamento de Becas 
                        </h6>
                        <h6 style="margin-bottom: 1em;">
                            <u>nalcala@cozcyt.gob.mx</u>
                        </h6>
                        <h6 style="margin-bottom: 0;">
                            <strong> José Luis Alfredo Estrada Espino </strong>
                        </h6>
                        <h6 style="margin-bottom: 0;">
                            Encargado de Apoyos 
                        </h6>
                        <h6 style="margin-bottom: 0;">
                            <u>aestrada@cozcyt.gob.mx</u>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 center" id="info_conv_fechas" style="border: 0.7px solid #EEE5E5; border-radius: 10px; display: flex; align-items: center; margin-left: 5em;">
                <div style="margin: 2em;">
                    <div class="" style="text-align: center;">
                        <h5 style="margin-bottom: 1em; color: var(--rosaO);"><strong>O visitenos en:</strong></h5>
                        <h6 style="">
                            Callejón No. 101, Parque de Ciencia y Tecnología, <strong>Ciudad 
                            Quantum</strong>, C.P. 98090, <strong> 
                            Edificio Photon Innovation Hub, Piso 3. </strong>
                            Zacatecas, Zacatecas
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var swiper = new Swiper(".mySwiper", {
          pagination: {
            el: ".swiper-pagination",
            type: "fraction",
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
    </script>

{% endblock body %}