<div class="row">
    <div class="col">

    </div>
    <p class="col h4">
        <strong>
            {{ titulo }}
        </strong>
    </p>
    <div class="col">
        {{ modalidadSelectForm.modalidad }}
    </div>
</div>
<div class="horizontal-scroll m-4 mx-auto" style="border: 0.5px solid; max-width: 65rem; border-radius: 1em;">    
   

    <table class="tablaResultados">
        <tr>
            <th colspan="4">Folios</th>
        </tr>
        <tr>
            {% for item in folios %}
            {% if forloop.counter0|divisibleby:4 %}
        </tr><tr>
            {% endif %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
    </table>
</div>

<script>
    $(document).ready(function() {
        $("#id_modalidad").change(function() {
            var selectedOption = $(this).val();
            ajaxResultados(selectedOption);
            // Realizar solicitud AJAX
            
        });
    });
</script>