{% extends 'base_transparencia.html'%}

{% block titulo %}
SIT Información
{% endblock titulo %}

{% load static %}
{% load custom_filters %}
{% block body %}

    <!-- Div que contiene la descripción del SIT -->
    <div class="flex-direction center" style="" id="container_sit">
        <div class="col-md-4" id="info_texto_sit" style="margin: 0em 5em 0 0em; text-align: center;">
            <h3 style="text-align: center;"><strong> Sistema de Impulso al Talento </strong></h3>
            <p></p>
            <p class="font-md my-4" style="text-align: justify;">
                Es el sistema donde estudiantes de carreras orientadas a las Humanidades, Ciencia, Tecnología e Innovación de algunas 
                Instituciones Públicas del Estado de Zacatecas, pueden registrarse para ser beneficiarios del Programa Estímulos COZCyT 
                con un apoyo económico por semestre, se abre dos convocatorias por año, y dependiendo de su calificación pueden elegir 
                una de las 5 modalidades.
            </p>
            <div style="padding-bottom: 10px;">
                <a href="{% url 'usuarios:loginRedirect' %}">
                    <button href="{% url 'usuarios:loginRedirect' %}" class="btn btnConvocatoria">
                        Ir al sitio web del SIT 
                        <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /> 
                        </svg>
                    </button>
                </a>
            </div>
            <!-- <a class="" href="{% url 'usuarios:loginRedirect' %}" id="enlaceSIT" style=""> 
                <p class="font-md my-4" >
                Ir al sitio web del SIT 
                <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /> 
                </p></svg>
            </a> -->
        </div>
        <div class="col-md-4" id="inicio_imagen_sit" style="">
            <img class="img-fluid" src="{{ 'inicio_imagen_sit.svg'|static_image }}?v={{ cache_version }}" alt="persona con problemas en la computadora">
        </div>
    </div>

    <!-- Div que contiene los documentos importantes del sit -->
    <div class="texto-general center">
        <div class="row mx-0 px-0" style="align-items: center; justify-content: center;">
            <div class="col-md-4" style="padding-top: 10px; padding-bottom: 10px;" >
                <!-- {{modalidad.tipo}}{{solicitante.es_renovacion}} -->
                <div class="card" data-bs-original-title="" style="background-color: transparent; border: none;">
                    <div class="card-body card-modalidad">
                        <div>
                            <img class="imagen-modalidad" src="{{ 'inicio_manual.svg'|static_image }}?v={{ cache_version }}" alt="Card image cap" style="width: 50%;">
                        </div>
                        <div style="height: 5em; align-content: center;">
                            <h4 class="card-title"><strong>¿Es su primera vez solicitando una modalidad?</strong></h4>
                        </div>
                        <div style="height: 5em; align-content: center;">
                            <p>Consulte el <strong>manual de usuario</strong> para familiarizarse con el sistema.</p>
                        </div>
                        <div style="padding-bottom: 10px;">
                            <a href="{% static 'files/Manual de usuario (Solicitante) - Sistema de impulso al talento.pdf' %}">
                                <button href="{% static 'files/Manual de usuario (Solicitante) - Sistema de impulso al talento.pdf' %}" class="btn btnConvocatoria">
                                Manual de usuario
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 10px; padding-bottom: 10px;" >
                <!-- {{modalidad.tipo}}{{solicitante.es_renovacion}} -->
                <div class="card" data-bs-original-title="" style="background-color: transparent; border: none;">
                    <div class="card-body card-modalidad">
                        <div>
                            <img class="imagen-modalidad" src="{{ 'inicio_reglamento.svg'|static_image }}?v={{ cache_version }}" alt="Card image cap" style="width: 45%;">
                        </div>
                        <div style="height: 5em; align-content: center;">
                            <h4 class="card-title"><strong>Reglamento de operaciones</strong></h4>
                        </div>
                        <div style="height: 5em; align-content: center;">
                            <p>Consulte el <strong>reglamento de operaciones</strong> para saber más acerca de los Estímulos COZCyT.</p>
                        </div>
                        <div style="padding-bottom: 10px;">
                            <a href="{% static 'files/RO_Estimulos_y_Apoyos_Cozcyt.pdf' %}">
                                <button href="{% static 'files/RO_Estimulos_y_Apoyos_Cozcyt.pdf' %}" class="btn btnConvocatoria">
                                Reglamento
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>       
            <div class="col-md-4" style="padding-top: 10px; padding-bottom: 10px;" >
                <!-- {{modalidad.tipo}}{{solicitante.es_renovacion}} -->
                <div class="card" data-bs-original-title="" style="background-color: transparent; border: none;">
                    <div class="card-body card-modalidad">
                        <div >
                            <img class="imagen-modalidad" src="{{ 'inicio_metodo_seleccion.svg'|static_image }}?v={{ cache_version }}" alt="Card image cap" style="width: 42%;">
                        </div>
                        <div style="height: 5em; align-content: center;">
                            <h4 class="card-title"><strong>Métodos de selección</strong></h4>
                        </div>
                        <div style="height: 5em; align-content: center;">
                            <p>Consulte el <strong>proceso de selección</strong> para saber los pasos que se llevarán a cabo para su eligibilidad.</p>
                        </div>
                        <div style="padding-bottom: 10px;">
                            <a href="{% static 'files/Diagrama_de_procesos.pdf' %}">
                                <button href="{% static 'files/Diagrama_de_procesos.pdf' %}" class="btn btnConvocatoria">
                                Diagrama de selección
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>               
        </div>
    </div>

    <!-- Div que contiene la información de las modalidades -->
    <div class="texto-general center" style="margin-top: 2em; width: 100%; background-color: #fff; align-items: center;">
        <div id="info_convocatoria_titulo">
            <h3 style="text-align: center;">
                <br>
                <strong> Descargar formatos </strong>
            </h3>
        </div>
        <br>
        <!-- Div que contiene el carrusel con los formatos que el solicitante puede desacrgar para su aplicación -->
        <div class="flex-direction" style="display: flex; justify-content: center;">
            <!-- Carrusel donde se obtiene y muestra la info de los documentos -->
            <div class="col-md-6" id="info_modalidades" style="border: 0.7px solid #EEE5E5; border-radius: 10px;">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <!-- Primera slide del carrusel -->
                        <div class="swiper-slide" style="width: auto !important;">
                            <div class="info_modalidad_slide" style="justify-content: center;">
                                <div class="info_modalidad_desc col-md-8" style="margin-bottom: 1em; text-align: center;">
                                    <div class="info_modalidad_titulo">
                                        <h5 style="text-align: justify;"><strong>Carta de exposición de motivos</strong></h5>
                                    </div>
                                    <div class="info_modalidad_descripcion">
                                        <p style="text-align: justify;">
                                            Documento necesario si es su primera vez solicitando una modalidad. Debe agregar
                                            los datos que se le piden, además de una breve explicación donde manifieste los
                                            motivos por los cuales solicita el estímulo.
                                        </p>
                                    </div>
                                    <br>
                                    <a href="{% static 'files/Carta_expo_motivos.docx' %}">
                                        <button href="{% static 'files/Carta_expo_motivos.docx' %}" class="btn btnConvocatoria" style="width: 40%;" id="btnSabermas">
                                            Descargar
                                        </button>
                                    </a>
                                    <br>
                                </div>
                                <div class="col-md-4" style="text-align: center;">
                                    <img  class="imagen-modalidad img-fluid" src="{{ 'inicio_documento.svg'|static_image }}?v={{ cache_version }}" alt="Imagen modalidad">
                                </div>
                            </div>
                        </div>
                        <!-- Segunda slide del carrusel -->
                        <div class="swiper-slide" style="width: auto !important;">
                            <div class="info_modalidad_slide" style="justify-content: center;">
                                <div class="info_modalidad_desc col-md-8" style="margin-bottom: 1em; text-align: center;">
                                    <div class="info_modalidad_titulo">
                                        <h5 style="text-align: justify;"><strong>Carta bajo protesta</strong></h5>
                                    </div>
                                    <div class="info_modalidad_descripcion">
                                        <p style="text-align: justify;">
                                            Documento necesario si es su primera vez solicitando una modalidad. Debe agregar
                                            los datos que se le piden, además de una breve explicación donde manifieste los
                                            motivos por los cuales solicita el estímulo.
                                        </p>
                                    </div>
                                    <br>
                                    <a href="{% static 'files/Carta_bajo_protesta.docx' %}">
                                        <button href="{% static 'files/Carta_bajo_protesta.docx' %}" class="btn btnConvocatoria" style="width: 40%;" id="btnSabermas">
                                            Descargar
                                        </button>
                                    </a>
                                    <br>
                                </div>
                                <div class="col-md-4" style="text-align: center;">
                                    <img  class="imagen-modalidad img-fluid" src="{{ 'inicio_documento.svg'|static_image }}?v={{ cache_version }}" alt="Imagen modalidad">
                                </div>
                            </div>
                        </div>
                        <!-- Tercera slide del carrusel -->
                        <div class="swiper-slide" style="width: auto !important;">
                            <div class="info_modalidad_slide" style="justify-content: center;">
                                <div class="info_modalidad_desc col-md-8" style="margin-bottom: 1em; text-align: center;">
                                    <div class="info_modalidad_titulo">
                                        <h5 style="text-align: justify;"><strong>Formato del servicio colaborativo</strong></h5>
                                    </div>
                                    <div class="info_modalidad_descripcion">
                                        <p style="text-align: justify;">
                                            Documento necesario si es su primera vez solicitando una modalidad. Debe agregar
                                            los datos que se le piden, además de una breve explicación donde manifieste los
                                            motivos por los cuales solicita el estímulo.
                                        </p>
                                    </div>
                                    <br>
                                    <a href="{% static 'files/Formato-Servicio-colaborativo.docx' %}">
                                        <button href="{% static 'files/Formato-Servicio-colaborativo.docx' %}" class="btn btnConvocatoria" style="width: 40%;" id="btnSabermas">
                                            Descargar
                                        </button>
                                    </a>
                                    <br>
                                </div>
                                <div class="col-md-4" style="text-align: center;">
                                    <img  class="imagen-modalidad img-fluid" src="{{ 'inicio_documento.svg'|static_image }}?v={{ cache_version }}" alt="Imagen modalidad">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div> 
            </div>
        </div>
        <br>
        <br>
    </div>

    <!-- Div que contiene las preguntas frecuentes-->
    <div class="texto-general center" style="margin-top: 1em; width: 100%; align-items: center;">
        <div class="flex-direction" style="display: flex; justify-content: center; text-align: center;">
            <div class="col-md-3" id="info_modalidades" style="color: var(--secundario-mf);">
                <h3 style="text-align: center;">
                    <br>
                    <strong> Preguntas frecuentes </strong>
                </h3>
                <h5> texto texto</h5>
                <img class="imagen-modalidad" src="{{ 'inicio_preguntasF.svg'|static_image }}?v={{ cache_version }}" alt="Card image cap" style="width: 75%;">
            </div>
            <div class="col-md-6 center" id="info_conv_fechas" style="border: 0.7px solid #EEE5E5; border-radius: 10px; display: flex; align-items: center; margin-left: 5em;">
                <div class="accordion accordion-flush" id="accordionFlushExample" style="width: 100%;">
                    <div class="accordion-item" style="background-color: transparent;">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color: transparent; color: #676767;">
                          <h5><strong>¿Pregunta 1?</strong></h5>
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="text-align: justify;">
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et  venenatis diam. Duis eget cursus libero, at vulputate mauris. Aenean at  accumsan mauris, at consequat tellus. Suspendisse viverra posuere lorem,  quis maximus lacus vestibulum a. Aliquam vitae molestie lorem.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item" style="background-color: transparent;">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="background-color: transparent; color: #676767;">
                            <h5><strong>¿Pregunta 2?</strong></h5>
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="text-align: justify;">
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et  venenatis diam. Duis eget cursus libero, at vulputate mauris. Aenean at  accumsan mauris, at consequat tellus. Suspendisse viverra posuere lorem,  quis maximus lacus vestibulum a. Aliquam vitae molestie lorem.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item" style="background-color: transparent;">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" style="background-color: transparent; color: #676767;">
                            <h5><strong>¿Pregunta 3?</strong></h5>
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="text-align: justify;">
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et  venenatis diam. Duis eget cursus libero, at vulputate mauris. Aenean at  accumsan mauris, at consequat tellus. Suspendisse viverra posuere lorem,  quis maximus lacus vestibulum a. Aliquam vitae molestie lorem.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item" style="background-color: transparent;">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" style="background-color: transparent; color: #676767;">
                              <h5><strong>¿Pregunta 4?</strong></h5>
                          </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="text-align: justify;">
                          <div class="accordion-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et  venenatis diam. Duis eget cursus libero, at vulputate mauris. Aenean at  accumsan mauris, at consequat tellus. Suspendisse viverra posuere lorem,  quis maximus lacus vestibulum a. Aliquam vitae molestie lorem.
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var swiper = new Swiper(".mySwiper", {
          pagination: {
            el: ".swiper-pagination",
            type: "fraction",
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
    </script>

{% endblock body %}