Django ==4.1.7
Pillow ==10.0.0
xlrd==2.0.1
six==1.16.0
mysqlclient==2.1.0
sqlparse ==0.4.2
django-filter==21.1
django-model-utils==4.3.1
django-htmx==1.16.0
django-debug-toolbar==4.2.0
weasyprint==59.0
django-crontab==0.7.1

channels[daphne]==4.0.0
channels-redis==4.1.0