{% extends "base.html" %}

{% block titulo %}
    Documentos Solicitante
{% endblock titulo %}

{% block body %}
    <div class="rounded-2 p-1 mx-4 principal">
        <div class="rounded-2 mx-4">
            <div class="row">
                <p class="col h3 tituloModulo">
                    Documentación de 
                    <b style="font-weight: 700;">{{ solicitante.nombre }} {{ solicitante.ap_paterno }} {{ solicitante.ap_materno }}</b>
                </p>
                <div class="a fa-user-info px-3 align-self-center h5">
                    Modalidad de <b style="font-weight: 700;">{{ modalidad.nombre}}</b>
                </div>
                <!-- <hr> -->
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="rounded-2 mx-4" style="padding-top: 10px; padding-bottom: 20px;">          
                <div class="row">
                    {% for documento, documentoResp in listaDocumentos %}
                    <div class="col-sm-4" style="padding-top: 10px; padding-bottom: 20px;">
                        <div class="card card-documento-solicitante">
                            <div class="card-body" id="{{documento.id}}">
                                <div class="row" style="height: 100px;">
                                    <!-- {{modalidad.id}} -->
                                    <h5 class="card-title" id="tituloCard">{{ documento.nombre }}</h5>
                                    <h8 class="card-title" id="contenidoCard">{{ documento.descripcion}}</h8>
                                </div>
                                <div class="row" style="padding-bottom: 10px;">
                                    <!-- Aquí la preview del documento antes de ser subido a la plataforma -->
                                    <div class="card" id="previewDoc">
                                        <div class="clear:both">
                                            <!-- <iframe id="viewer" frameborder="0" scrolling="no" width="265" height="200" ></iframe> -->
                                            <iframe type="application/pdf" width="220" height="200"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="subir-documento">
                                    <div class="row">
                                        <div class="documentoSolicitante">
                                            <button type="button" class="btnSubirDoc"> {{ documentoResp.filename }} </button>
                                            <input type="file" name="{{documento.id}}" id="files" accept=".pdf">
                                            <p></p>
                                        </div>
                                    </div>
                                    <!-- Cambiar aqui a inputs -->
                                    <div class="row">
                                        <div class="botonesEstado">
                                            <button type="button" class="btnAceptarDocumento" value="aprobado" name="estado" id="botonEstado"> 
                                                <i class="fa fa-check px-2 align-self-center" aria-hidden="true"></i> 
                                            </button>
                                            <input class="checkbox-principal" type="checkbox" id="boton-estado" name="estado-boton-aceptado" value="{{ documentoResp.id }}">
                                            <!-- <input type="button" name="{{documento.id}}" value="aceptado" id="botonEstado"> -->
                                        
                                            <button type="button" class="btnRechazarDocumento" value="denegado" name="estado" id="botonEstado"> 
                                                <i class="fa fa-warning px-2 align-self-center" aria-hidden="true"></i> </button>
                                            </button>
                                            <input class="checkbox-principal" type="checkbox" id="boton-estado" name="estado-boton-denegado" value="{{ documentoResp.id }}">    
                                            <!-- <input type="button" name="{{documento.id}}" value="denegado" id="botonEstado"> -->
                                            <p></p>
                                            {{ documentoResp.estado }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row" style="text-align: center; padding-top: 10px; padding-bottom: 20px;">
                    <div class="col-md" style="padding-top: 10px; padding-bottom: 10px;">
                        {% if request.session.anterior %}
                            <a href="{{ request.session.anterior }}" class="btn btnCancelar" role="button">
                                Regresar
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-md" style="padding-top: 10px; padding-bottom: 10px;">
                        <button type="submit" class="btn btnSubirDocs" name="guardar">Confirmar</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        // document.querySelector("#files").onchange = function() {
        // const fileName = this.files[0]?.name;
        // const label = document.querySelector("label[for=files]");
        // label.innerText = fileName ?? "Subir documentos";
        // };
        const fileBlocks = document.querySelectorAll('.subir-documento')
        const buttons = document.querySelectorAll('.btnSubirDoc')

        ;[...buttons].forEach(function (btn) {
        btn.onclick = function () {
            btn.parentElement.querySelector('input[type="file"]').click()
        }
        })

        ;[...fileBlocks].forEach(function (block) {
        block.querySelector('input[type="file"]').onchange = function () {
            const filename = this.files[0].name

            block.querySelector('.btnSubirDoc').textContent = filename
        }
        })
    </script>
    <script>
        // function PreviewFile() {
        //     pdffile=document.getElementById("files").files[0];
        //     pdffile_url=URL.createObjectURL(pdffile);
        //     $('#viewer').attr('src',pdffile_url);
        // }
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% endblock body %}