{% extends "base.html" %}

{% block titulo %}
    Documentos Solicitante
{% endblock titulo %}

{% block body %}
    <div class="rounded-2 p-1 mx-4 principal">
        <div class="rounded-2 mx-4">
            <div class="row tituloModulo">
                <div class="col">
                    <p class="col h3">
                        Documentación de 
                        <b style="font-weight: 700;">{{ solicitante.nombre }} {{ solicitante.ap_paterno }} {{ solicitante.ap_materno }}</b>
                    </p>
                </div>
                <div class="col-md-auto">
                    <p class="col h4 text-end">
                        Folio: 
                        <b style="font-weight: 700;">{{ solicitante.folio }}</b>
                    </p>     
                </div>  
                <div class="a fa-user-info px-3 align-self-center h5">
                    Modalidad de <b style="font-weight: 700;">{{ modalidad.nombre}}</b>
                </div>
                <!-- <hr> -->
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="rounded-2 mx-4" style="padding-top: 10px; padding-bottom: 20px;">          
                <div class="row">
                    {% for documento, documentoResp in listaDocumentos %}
                    <div class="col-md-4 align-self-end" style="padding-top: 10px; padding-bottom: 20px;">                        
                        <div class="card card-documento-solicitante">
                            <div class="card-body" id="{{documento.id}}">    
                                {% if documentoResp %}
                                <!-- 
                                <p class="text-center font-semi-bold" {% if documentoResp.estado == 'aprobado' %} style="color: var(--btnActivo2);" {% elif documentoResp.estado == 'denegado' %} style="color: var(--rosaF);" {% endif %} >{{ documentoResp.get_estado_display }}</p>
                                -->
                                {% else %}
                                <p class="text-center font-semi-bold" style="color: var(--rosaF);"> La respuesta a este documento no existe. </p>
                                {% endif %}                            
                                <div class="row" style="height: auto;">
                                    <!-- {{modalidad.id}} -->
                                    <h5 class="card-title" id="tituloCard">{{ documento.nombre }}</h5>
                                    <h8 class="card-title" id="contenidoCard">{{ documento.descripcion}}</h8>
                                </div>
                                <div class="row" style="padding-bottom: 10px;">
                                    <!-- Aquí la preview del documento antes de ser subido a la plataforma -->
                                    <div class="card p-0" id="previewDoc">                                        
                                            <!-- <iframe id="viewer" frameborder="0" scrolling="no" width="265" height="200" ></iframe> -->
                                            {% if documentoResp %}
                                                <iframe src="{% url 'solicitudes:verPdf' solicitud.id documentoResp.id %}" type="application/pdf" height="500"></iframe>                                        
                                            {% else %}
                                                <p class="text-center"> La respuesta a este documento no existe. </p>
                                                <iframe src="" type="application/pdf" height="500"></iframe>   
                                            {% endif %}
                                    </div>
                                </div>
                                <div class="subir-documento">
                                    <div class="row">
                                        <div class="documentoSolicitante">
                                            <a class="texto-negro" {% if documentoResp %} href="{% url 'solicitudes:verPdf' solicitud.id documentoResp.id %}" target="_blank" {% else %} href="#" {% endif %} >
                                            <button style="width: 100%;" type="button" class="btnSubirDoc"> {{ documentoResp.filename }} </button>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="botonesEstado">
                                            <div class="div" style="text-align: center !important; padding-top: 5px;">
                                                <div class="child col-sm-3" style="display: inline-block;">
                                                    {% if documentoResp.estado == "aprobado" %}
                                                    <input class="checkbox-docs-aceptar form-check-input" type="checkbox" name="estado-boton-aceptado" value="{{ documentoResp.id }}" checked>
                                                    {% elif documentoResp.estado == "pendiente" or documentoResp.estado == "denegado"%}
                                                    <input class="checkbox-docs-aceptar form-check-input" type="checkbox" name="estado-boton-aceptado" value="{{ documentoResp.id }}">
                                                    {% endif %}
                                                </div>
                                                <div class="child col-sm-3" style="display: inline-block;">
                                                    {% if documentoResp.estado == "denegado" %}
                                                    <input class="checkbox-docs-rechazar form-check-input" type="checkbox" name="estado-boton-denegado" value="{{ documentoResp.id }}" checked>
                                                    {% elif documentoResp.estado == "pendiente" or documentoResp.estado == "aprobado"%}
                                                    <input class="checkbox-docs-rechazar form-check-input" type="checkbox" name="estado-boton-denegado" value="{{ documentoResp.id }}"> 
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {{ documentoResp.estado }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row" style="text-align: center; padding-top: 10px; padding-bottom: 20px;">
                    <div class="col-md" style="padding-top: 10px; padding-bottom: 10px;">
                        {% if request.session.anterior %}
                            <a href="{{ request.session.anterior }}" class="btn btnCancelar" role="button">
                                Regresar
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-md" style="padding-top: 10px; padding-bottom: 10px;">
                        <button type="submit" class="btn btnSubirDocs" name="guardar">Confirmar</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        // document.querySelector("#files").onchange = function() {
        // const fileName = this.files[0]?.name;
        // const label = document.querySelector("label[for=files]");
        // label.innerText = fileName ?? "Subir documentos";
        // };
        //const fileBlocks = document.querySelectorAll('.subir-documento')
        //const buttons = document.querySelectorAll('.btnSubirDoc')

        //;[...buttons].forEach(function (btn) {
        //btn.onclick = function () {
        //    console.log('btn.parentElement')
        //    btn.parentElement.querySelector('input[type="file"]').click()
        //}
        //})

        //;[...fileBlocks].forEach(function (block) {
        //block.querySelector('input[type="file"]').onchange = function () {
        //    const filename = this.files[0].name

        //    block.querySelector('.btnSubirDoc').textContent = filename
        //}
        //})
    </script>
    <script>
        // function PreviewFile() {
        //     pdffile=document.getElementById("files").files[0];
        //     pdffile_url=URL.createObjectURL(pdffile);
        //     $('#viewer').attr('src',pdffile_url);
        // }
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% endblock body %}