{% extends 'base.html' %}

{% block titulo %}
Administrar solicitudes
{% endblock titulo %}

{% block body %}    

    <div class="row align-items-center m-0">
        <p class="col h2 mx-3 mt-4">Solicitudes {{ ciclo }}</p>
              
    </div>

    <div style="border-radius: 15px;" class="m-3 py-3 border border-2 borde-pagina-principal  horizontal-scroll">    
        <div class="row mx-0">
            <div class="col-4 ps-0">
                <p class="h4 mx-3">Solicitudes</p>           
            </div>
            <div class="col mt-1 mb-4 mx-3">
                <div class="row align-items-center">
                    <div class="col-auto p-0">
                        <i class="fa fa-info-circle font-md" aria-hidden="true" data-bs-original-title="Para buscar valores en atributos específicos <br>escribir: atributo:valor <br>ejemplo: 'nombre:Juan' <br><br> Para excluir resultados con algun contenido agregar '-' antes de cada termino <br>Ejemplo: '-juan'" data-bs-html="true" ></i>
                    </div>
                    <div class="col">
                        <form class="d-flex" role="search" method="GET">                
                            <input
                            class="form-control me-2"
                            type="search"
                            placeholder="Buscar por Nombre, Curp, Correo, Datos, etc."
                            name="search"
                            aria-label="Search"
                            value="{{ request.GET.search}}"
                            >
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>                
                </div>
            </div> 
        </div>
         
        <table class="table custom-table-simple">            
            <thead>
                <tr>
                    <th class="borde-pagina-gris text-center" style="width: 8%; border-bottom: 2px solid;"> ID</th>
                    <th class="borde-pagina-gris" style="border-bottom: 2px solid;"> Nombre</th>
                    <th class="borde-pagina-gris text-center" style="width: 5rem; border-bottom: 2px solid;"> CURP</th>                    
                    <th class="borde-pagina-gris text-center" style="width: 7rem; border-bottom: 2px solid;"> Folio</th>  
                    <th class="borde-pagina-gris text-center" style="width: 5rem; border-bottom: 2px solid;"> Puntaje</th>  
                    <th class="borde-pagina-gris text-center" style="width: 5rem; border-bottom: 2px solid;"> Tipo</th>  
                    <th class="borde-pagina-gris text-center" style="width: 7rem; border-bottom: 2px solid;"> Estado</th>  
                    <th class="borde-pagina-gris " style="width: 12rem; border-bottom: 2px solid;"> </th>
                </tr>
            </thead>
            <tbody>
                {% for solicitud in page_soli %}                
                <tr class="{{ solicitud.estado }}">                    
                    {% with solicitud.solicitante as solicitante %}
                    <td class="text-center">{{ solicitud.id }}</td>                    
                    <td class="text-start">{{ solicitante.nombre }} {{ solicitante.ap_paterno }} {{ solicitante.ap_materno }}</td>                    
                    <td class="text-center">{{ solicitante.curp }}</td> 
                    <td class="text-center">{{ solicitante.folio }}</td> 
                    <td class="text-center">{{ solicitud.puntaje }}</td> 
                    <td class="text-center">{{ solicitud.tipo }}</td> 
                    <td class="text-center">{{ solicitud.get_estado_display }}</td>                     
                    <td style="text-align: right;">
                        <div class="d-flex align-items-center justify-content-center ">                                                           
                            <a href="{% url 'usuarios:AEditarUsuario' solicitante.id %}" class="m-0 me-2 align-items-center font-lg " data-bs-original-title="Ver información del usuario">
                                <i class="fa fa-user-circle align-self-bottom" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="m-0 me-2 align-items-center font-lg " data-bs-original-title="Ver información del usuario">
                                <i class="fa fa-id-card-o align-self-bottom" aria-hidden="true"></i>
                            </a>   
                            <a href="#" class="m-0 me-2 align-items-center font-lg " data-bs-original-title="Ver información del usuario">
                                <i class="fa fa-file align-self-bottom" aria-hidden="true"></i>
                            </a>   
                            <a href="#" class="m-0 me-2 align-items-center font-xl texto-aceptado-activado" data-bs-original-title="Ver información del usuario">
                                <i class="fa fa-check-circle align-self-bottom" aria-hidden="true"></i>
                            </a>   
                            <a href="#" class="m-0 me-2 align-items-center font-xl texto-cancelar-activado" data-bs-original-title="Ver información del usuario">
                                <i class="fa fa-times-circle align-self-bottom" aria-hidden="true"></i>
                            </a>                    
                        </div>
                    </td>  
                    {% endwith %}             
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination mx-3 font-semi-bold font-md justify-content-end">
            <span class="step-links">                                
                <span class="current font-xs me-1">
                    Página {{ page_soli.number }} / {{ page_soli.paginator.num_pages }}.
                </span>                
                {% if page_soli.has_previous %}                    
                    <a href="{{ request.path }}?search={{ request.GET.search }}&page=1" class="fa fa-angle-double-left" aria-hidden="true"></a>
                    <a href="{{ request.path }}?search={{ request.GET.search }}&page={{ page_soli.previous_page_number }}" class="fa fa-angle-left" aria-hidden="true"> </a>                    
                {% endif %}
                {% if page_soli.has_next %}
                    <a href="{{ request.path }}?search={{ request.GET.search }}&page={{ page_soli.next_page_number }}" class="fa fa-angle-right" aria-hidden="true"> </a>
                    <a href="{{ request.path }}?search={{ request.GET.search }}&page={{ page_soli.paginator.num_pages }}" class="fa fa-angle-double-right" aria-hidden="true"> </a>
                {% endif %}                
            </span>
        </div>
    </div>

{% endblock body %}