{% extends 'base.html' %}

{% block titulo %}
Configuración colores
{% endblock titulo %}
{% load static %}
{% load custom_filters %}


{% block body %}
    {% include 'admin/config_nav.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.5/jscolor.min.js"></script>
    <script>
        jscolor.presets.default = {
            format:'any'
        };
        function enviarFormulario(formularioId, boton) { 
            // Obtener el formulario y el valor del botón
            const formulario = $('#' + formularioId);            
            const textoBoton = $(boton).text();

            // Enviar el formulario                   
            confrimSubmit(formulario, `¿${textoBoton}?`)            
        }                
    </script>
    <div class="rounded-2 p-1 mx-2 texto-general">
        <div class="rounded-2 mx-4">
            <div class="row align-items-center">
                <p class="col-auto h5 subtitulo-mod">Configuración de apariencia del sitio</p>
                <div class="col text-end">
                    <div class="d-inline-flex justify-content-end">
                        <button class="btn btn-guardar texto-general m-0 mx-1 font-sm" type="button" value="guardar" onclick="enviarFormulario('coloresForm', this)">Guardar cambios</button>
                        <form class="p-0 m-0" action="{% url 'usuarios:AReCargarColoresDefault' %}" method="get"> 
                            <button class="btn btnCancelar texto-general m-0 mx-1 font-sm font-normal" type="button" value="recargar" onclick="confrimSubmit(this,'¿Desea recargar colores por defecto? <br> {{usuario.curp}}')">Recargar colores por defecto</button>
                        </form>
                    </div>
                </div>             
            </div>
        </div>
    </div>   
    <form method="post" id="coloresForm" enctype="multipart/form-data" class="">
        {% csrf_token %}
        <ul class="nav nav-tabs nav-pills nav-pills-opciones mx-4" style="border-bottom: 0px;" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link d-flex link-dark active h6" id="imagenes-tab" data-bs-toggle="tab" data-bs-target="#imagenes" type="button" role="tab" aria-controls="imagenes" aria-selected="true">Imagenes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link d-flex link-dark h6" id="colores-tab" data-bs-toggle="tab" data-bs-target="#colores" type="button" role="tab" aria-controls="colores" aria-selected="false">Colores</button>
            </li>
        </ul>
        <hr class="mx-4">
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="imagenes" role="tabpanel" aria-labelledby="imagenes-tab">
                <div class="row row-cols-3 mx-3 mb-4 font-semi-bold">
                    {% for campo in formImages %}
                        <div class="col p-3" style="display: flex; flex-direction: column;">
                            {{ campo.label }}
                            {% with img_path=campo.name|add:".png" %}
                            <img class="img-fluid my-2" src="{{ img_path|static_image }}?v={{ cache_version }}" alt="{{campo.name}}.png" style="max-height: 100px; max-width: 100%; object-fit: contain;"> 
                            {% endwith %}
                            {{ campo }}
                            {{ campo.errors }}
                        </div>
                    {% endfor %}
                </div>
            </div>                
            <div class="tab-pane fade" id="colores" role="tabpanel" aria-labelledby="colores-tab">
                <div class="mb-5">                                    
                    {{ formset.management_form }}
                
                    <div class="m-2">                
                        <div class="row mx-0">
                            <p class="texto-secundario font-md m-1 mx-0 mb-3 p-0 px-2 pb-1">
                                Formatos de colores: &nbsp; #000000 &nbsp; rgb(0,0,0) &nbsp; rgba(0,0,0,0)
                            </p>
                        </div>
                        
                        <ul class="cols-rows-auto-colores  mb-3">                    
                            {% for form in formset %}
                                <li class="item">
                                    <div class="row mx-0 mb-2">
                                        <div class="col px-1 text-start ">
                                            <div class="fondo-gris-0 px-2 font-semi-bold font-md">
                                                {{ form.instance.nombre }}
                                            </div>
                                            {% for field in form.hidden_fields %}
                                                {{ field }}
                                            {% endfor %}
                                        </div>
                                        <div class="col px-1 text-start">                                    
                                                {{ form.color }}
                                                {{ form.color.errors }}                                                                    
                                        </div>
                                    </div>                            
                                </li>
                            {% endfor %}                        
                        </ul>
                    </div>                                  
                </div>
            </div>

        </div>
        
        
    </form>
{% endblock body %}