{% extends 'base.html' %}

{% block titulo %}    
Lista de usuarios          
{% endblock titulo %}

{% block body %}
    <div class="row align-items-center m-0">
        <p class="col-4 h2 mx-3 mt-3">Lista de Usuarios</p>
        <div class="col mt-5 mx-3">
            <div class="row align-items-center">
                <div class="col-auto p-0">
                    <i class="fa fa-info-circle font-md" aria-hidden="true" data-bs-original-title="<b>Puede buscar cambiando las palabras o contenido y en los atributos que necesite</b><br><br><b>juan zacatecas</b><br>Busca elementos que contengan 'juan' y 'zacatecas'<br><br><b>nombre:juan</b><br>Busca elementos cuyo atributo nombre contenga 'juan'<br><br><b>~juan ~maria</b><br>Busca elementos que contengan o 'juan' o 'maria'<br><br><b>juan -zacatecas</b><br>Busca elementos que contengan 'juan' y no contengan 'zacatecas'" data-bs-html="true" ></i>
                </div>
                <div class="col">
                    <form class="d-flex" role="search" method="GET">                
                        <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Buscar por Nombre, Curp, Correo, Datos, etc."
                        name="search"
                        aria-label="Search"
                        value="{{ request.GET.search}}"
                        >
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>                
            </div>
        </div>        
    </div>
    
    
    <div style="border-radius: 15px;" class="m-3 py-3 border border-2 borde-pagina-principal horizontal-scroll">            
        <table class="table custom-table-simple ">
            <p class="h4 mx-3">Administradores</p>
            <thead>
                <tr>
                    <th class="borde-pagina-gris text-center" style="width: 1%; border-bottom: 2px solid;"></th>
                    <th class="borde-pagina-gris" style="width: 42%; border-bottom: 2px solid;"> Nombre</th>
                    <th class="borde-pagina-gris" style="width: 11rem; border-bottom: 2px solid;"> CURP</th>
                    <th class="borde-pagina-gris" style="border-bottom: 2px solid;"> Correo Electrónico</th>
                    <th class="borde-pagina-gris" style="width: 30px; border-bottom: 2px solid;"> </th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in page_admin %}
                <tr>
                    <td class="text-center"></td>
                    <td>{{ usuario.nombre }}
                        {% if usuario.is_superuser %}
                            <span class="badge bg-success">Admin</span>
                        {% endif %}
                    </td>
                    <td>{{ usuario.curp }} </td>
                    <td>{{ usuario.email }}</td>
                    <td  style="text-align: right;">                        
                        <form class="p-0 m-0" action="{% url 'usuarios:AEliminarUsuario' usuario.id %}" method="get" >                                                        
                            <button id="btnEliminar" type="button" onclick="confrimSubmit(this,'Desea eliminar este Usuario?')" title="Eliminar" class="line-height-normal btn p-0 m-0" data-bs-original-title="Eliminar Elemento">
                                <i class="fa fa-trash-o texto-cancelar-activado m-0" style="font-size: 20px;"></i>
                            </button>                                
                        </form>
                    </td>  
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination mx-3 font-semi-bold font-md justify-content-end">
            <span class="step-links">                                
                <span class="current font-xs me-1">
                    Página {{ page_admin.number }} / {{ page_admin.paginator.num_pages }}.
                </span>                
                {% if page_admin.has_previous %}                    
                    <a href="{{ request.path }}?search={{ request.GET.search }}&pageS={{request.GET.pageS}}&pageA=1" class="fa fa-angle-double-left" aria-hidden="true"></a>
                    <a href="{{ request.path }}?search={{ request.GET.search }}&pageS={{request.GET.pageS}}&pageA={{ page_admin.previous_page_number }}" class="fa fa-angle-left" aria-hidden="true"> </a>                    
                {% endif %}
                {% if page_admin.has_next %}
                    <a href="{{ request.path }}?search={{ request.GET.search }}&pageS={{request.GET.pageS}}&pageA={{ page_admin.next_page_number }}" class="fa fa-angle-right" aria-hidden="true"> </a>
                    <a href="{{ request.path }}?search={{ request.GET.search }}&pageS={{request.GET.pageS}}&pageA={{ page_admin.paginator.num_pages }}" class="fa fa-angle-double-right" aria-hidden="true"> </a>
                {% endif %}
            </span>
        </div>
    </div>
    <div style="border-radius: 15px;" class="m-3 py-3 border border-2 borde-pagina-principal horizontal-scroll">    
        
        <table class="table custom-table-simple ">
            <p class="h4 mx-3">Solicitantes</p>
            <thead>
                <tr>
                    <th class="borde-pagina-gris text-center" style="width: 1%; border-bottom: 2px solid;"></th>
                    <th class="borde-pagina-gris" style="width: 42%; border-bottom: 2px solid;"> Nombre</th>
                    <th class="borde-pagina-gris" style="width: 11rem; border-bottom: 2px solid;"> CURP</th>
                    <th class="borde-pagina-gris" style="border-bottom: 2px solid;"> Correo Electrónico</th>
                    <th class="borde-pagina-gris" style="width: 60px; border-bottom: 2px solid;"> </th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in page_soli %}                
                <tr>                    
                    <td class="text-center"></td>
                    <td>{{ usuario.ap_paterno }} {{ usuario.ap_materno }} {{ usuario.nombre }}
                        {% if usuario.is_superuser %}
                            <span class="badge bg-success">Admin</span>
                        {% endif %}
                    </td>
                    <td>{{ usuario.curp }}</td>
                    <td >{{ usuario.email }}</td>
                    <td style="text-align: right;">
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center justify-content-center me-2">                                
                                <button class="btn btn-outline-secondary dropdown-toggle me-0 p-1" type="button" id="dropdownMenuButton{{solicitante.id}}"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                                
                                    <i class="fa fa-user-circle align-self-center font-lg" data-bs-original-title="Opciones" aria-hidden="true"></i>
                                </button>                            
                                <ul class="px-1 py-1 dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a href="{% url 'usuarios:AEditarUsuario' usuario.id %}" class="m-0 me-2 align-items-center dropdown-item">
                                            <i class="fa fa-user-circle align-self-center font-lg" aria-hidden="true"></i>
                                            <span class="align-self-center">Información del usuario</span>
                                        </a>
                                    </li>                                                                        
                                    <li>
                                        <a href="{% url 'solicitudes:AHistorial' usuario.id %}" class="m-0 me-2 align-items-center dropdown-item" >
                                            <i class="fa fa-clock-o align-self-center font-lg" aria-hidden="true"></i> 
                                            <span class="align-self-center">Historial de solicitudes</span>
                                        </a>  
                                    </li>                                                                                                                                 
                                </ul>                                                                                                            
                                
                            </div>                            
                            <form class="p-0 m-0" action="{% url 'usuarios:AEliminarUsuario' usuario.id %}" method="get" >                                                        
                                <button id="btnEliminar" type="button" onclick="confrimSubmit(this,'¿Desea eliminar este usuario? <br> {{usuario.curp}}')" title="Eliminar" class="line-height-normal btn p-0 m-0" data-bs-original-title="Eliminar Elemento">
                                    <i class="fa fa-trash-o texto-cancelar-activado m-0" style="font-size: 20px;"></i>
                                </button>                                
                            </form>
                        </div>
                    </td>               
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        <div class="row pagination mx-3 font-semi-bold font-md ">
            <span class="col step-links">           
                <span class="row current font-xs ms-1 pt-1">         
                {{ page_soli.start_index }} a {{ page_soli.end_index }} de {{ page_soli.paginator.count }} resultados.              
                </span>
            </span>
            <div class="col d-flex justify-content-end">
                <span class="step-links">                                
                    <span class="current font-xs me-1">
                        Página {{ page_soli.number }} / {{ page_soli.paginator.num_pages }}.
                    </span>                
                    {% if page_soli.has_previous %}                    
                        <a href="{{ request.path }}?search={{ request.GET.search }}&pageA={{request.GET.pageA}}&pageS=1" class="fa fa-angle-double-left" aria-hidden="true"></a>
                        <a href="{{ request.path }}?search={{ request.GET.search }}&pageA={{request.GET.pageA}}&pageS={{ page_soli.previous_page_number }}" class="fa fa-angle-left" aria-hidden="true"> </a>                    
                    {% endif %}
                    {% if page_soli.has_next %}
                        <a href="{{ request.path }}?search={{ request.GET.search }}&pageA={{request.GET.pageA}}&pageS={{ page_soli.next_page_number }}" class="fa fa-angle-right" aria-hidden="true"> </a>
                        <a href="{{ request.path }}?search={{ request.GET.search }}&pageA={{request.GET.pageA}}&pageS={{ page_soli.paginator.num_pages }}" class="fa fa-angle-double-right" aria-hidden="true"> </a>
                    {% endif %}                
                </span>
            </div>
        </div> 
    </div>
{% endblock body %}