:root {
    /* Color styles */
    /* Paleta de colores */
    --pantene651: rgb(252,226,228);
    --pantene592: rgb(245,173,171);
    --pantene5513: rgb(226,116,110);
    --pantene4914: rgb(187,68,51);
    --pantene5016: rgb(120,16,5);
    
    --letraGeneral: #676767;
    --bordesCard: #d1d1d1;
    --rosaF: #E4756F;
    --rosaM: #E1B2AF;
    --rosaC: #E9C3C1;
    
    --cancelar: #DCCBCA;
  
    --verdeBtns: #D5F5E2;
    --btnActivo: #B9E2C1;
    --btnActivo2: #8abc94;

    --soli-doc-aprovada: #dfeafc;
    --soli-doc-error: #f6face;
    --soli-aceptada: #def8e3;
    --soli-rechazada: #ffe1df;
    --icon-solicitudes: rgba(27, 2, 37, 0.35);
  
    --pagina-fondo: #EEE5E5/*#EEE5E5 #F1ECEC #F8F9FA*/;
    --barra-lateral-fondo: #F8F9FA/*#EEE5E5 #F1ECEC #F8F9FA*/;
    --pagina-gris: #b9b4b4;
    --gris-0: #f8f8f8; /* Blanco apagado */
    --gris-1: #efefef; /* Blanco apagado */
    --gris-2: #e0e0e0; /* Gris claro */
    --gris-3: #c0c0c0; /* Gris medio */
    --gris-4: #a0a0a0; /* Gris */
    --gris-5: #808080; /* Gris neutro */
    --gris-6: #606060; /* Gris oscuro */
    --gris-7: #404040; /* Gris profundo */
    --gris-8: #202020; /* Gris intenso */
    --blanco: #FFFFFF;
    --negro: #000000; /* Negro absoluto */


    /* Color styles viejos 
      No eliminar pero re asignados por compatibilidad con los estilos que aun los usen
    */
    --pagina-blanco: var(--blanco);
    --pagina-fuerte: var(--pantene5016);
    --pagina-principal: var(--pantene4914);
    --pagina-tenue: var(--pantene5513);
    --pagina-tenue-claro: var(--pantene651);
    --aceptado-desactivado: var(--verdeBtns);
    --aceptado-activado: var(--btnActivo);
    --aceptado-hover: var(--btnActivo2);
    --cancelar-desactivado: var(--rosaC);
    --cancelar-activado: var(--rosaF);
    --cancelar-hover: var(--rosaM);
    
    
    /* Colores electoral */
    
    
  }