:root {
/* =========================
   Estilos Básicos del Sitio
   ========================= */
    --principal-mc: rgb(252,226,228); 
    --principal-c:  rgb(245,173,171);
    --principal:    rgb(226,116,110);
    --principal-f:  rgb(187,68,51);
    --principal-mf: rgb(120,16,5);
    
    --secundario-mc:#f5c7c4;
    --secundario-c: #E1B2AF;
    --secundario:   #E1B2AF;
    --secundario-f: #E4756F;
    --secundario-mf:#BB756F;

    --texto-general:    #676767;
    --pagina-fondo: #EEE5E5;
    --barra-lateral-fondo:  #F8F9FA;
    
    --exito-f:      #8abc94;
    --exito:        #B9E2C1;
    --exito-c:      #D5F5E2;
    --error:        #E4756F;
    --error-c:      #E1B2AF;
    --precaucion:   #e4d26f;
    --cancelar:     #DCCBCA;

    --notif-info-background:    #F1F7FA; 
    --notif-info-texto:         #d9edf7; 
    --notif-info-border:        #bce8f1; 
    --notif-warning-background: #FAF0E4; 
    --notif-warning-texto:      #fcf8e3; 
    --notif-warning-border:     #faebcc; 
    --notif-error-background:   #F8E2E1; 
    --notif-error-texto:        #676767; 
    --notif-error-border:       #676767; 
    --notif-exito-background:   #F1FAF3; 
    --notif-exito-texto:        #676767; 
    --notif-exito-border:       #F1FAF3; 

    --soli-doc-aprovada: #dfeafc;
    --soli-doc-error: #f6face;
    --soli-aceptada: #def8e3;
    --soli-rechazada: #ffe1df;
    --icon-solicitudes: rgba(27, 2, 37, 0.35);

    --gris-principal: #b9b4b4;
    --gris-0: #f8f8f8; 
    --gris-1: #efefef; 
    --gris-2: #e0e0e0; 
    --gris-3: #c0c0c0;
    --gris-4: #a0a0a0;
    --gris-5: #808080;
    --gris-6: #606060;
    --gris-7: #404040; 
    --gris-8: #202020; 
    --blanco: #FFFFFF;
    --negro: #000000; 

}