:root {
  /* Color styles */
  --pagina-blanco: rgba(255, 255, 255, 1);
  --pagina-fuerte: rgba(120, 21, 15, 1);
  --pagina-principal: rgba(190, 70, 53, 1);
  --pagina-tenue: rgba(228, 117, 111, 1);
  --pagina-tenue-claro: rgba(254, 225, 229, 1);
  --aceptado-desactivado: #ABEBC6;
  --aceptado-activado: rgb(49, 185, 81);
  --aceptado-hover: rgb(30, 139, 56);
  --cancelar-desactivado: rgba(233, 195, 193, 1);
  --cancelar-activado: rgba(234, 94, 94, 1);
  --pagina-fondo: #EEE5E5/*#F1ECEC*/;
  --pagina-gris: #b9b4b4;
}

:root {
  font-size: 14px; /* Establecer la fuente base */
}

body {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}


/*Clases de estolo de Colores*/
.pagina-blanco {
  background-color: var(--pagina-blanco) !important;
}

.pagina-fondo {
  background-color: var(--pagina-fondo) !important;
}

.pagina-fuerte {
  background-color: var(--pagina-fuerte) !important;
}

.pagina-principal {
  background-color: var(--pagina-principal) !important;
}

.pagina-tenue {
  background-color: var(--pagina-tenue) !important;
}

.pagina-tenue-claro {
  background-color: var(--pagina-tenue-claro) !important;
}

.pagina-fondo {
  background-color: var(--pagina-fondo);
}

.aceptado-desactivado {
  background-color: var(--aceptado-desactivado) !important;
}

.aceptado-activado {
  background-color: var(--aceptado-activado) !important;
}

.aceptado-hover {
  background-color: var(--aceptado-hover) !important;
}

.cancelar-desactivado {
  background-color: var(---cancelar-desactivado) !important;
}

.cancelar-activado {
  background-color: var(--cancelar-activado) !important;
}

.pagina-gris {
  background-color: var(--pagina-gris) !important;
}

.texto-pagina-blanco {
  color: var(--pagina-blanco);
}

.texto-pagina-fuerte {
  color: var(--pagina-fuerte);
}

.texto-pagina-principal {
  color: var(--pagina-principal);
}

.texto-pagina-tenue {
  color: var(--pagina-tenue);
}

.texto-pagina-tenue-claro {
  color: var(--pagina-tenue-claro);
}

.texto-aceptado-desactivado {
  color: var(--aceptado-desactivado);
}

.texto-aceptado-activado {
  color: var(--aceptado-activado);
}

.texto-aceptado-hover {
  color: var(--aceptado-hover);
}

.texto-cancelar-desactivado {
  color: var(--cancelar-desactivado);
}

.texto-cancelar-activado {
  color: var(--cancelar-activado);
}

.texto-pagina-fondo {
  color: var(--pagina-fondo);
}

.texto-pagina-gris {
  color: var(--pagina-gris);
}

.borde-pagina-blanco {
  border-color: var(--pagina-blanco) !important;
}

.borde-pagina-gris {
  border-color: var(--pagina-gris) !important;
}

.borde-pagina-fuerte {
  border-color: var(--pagina-fuerte) !important;
}

.borde-pagina-principal {
  border-color: var(--pagina-principal) !important;
}

.borde-pagina-tenue {
  border-color: var(--pagina-tenue) !important;
}

.borde-pagina-tenue-claro {
  border-color: var(--pagina-tenue-claro) !important;
}

.borde-aceptado-desactivado {
  border-color: var(--aceptado-desactivado) !important;
}

.borde-aceptado-activado {
  border-color: var(--aceptado-activado) !important;
}

.borde-aceptado-hover {
  border-color: var(--aceptado-hover) !important;
}

.borde-cancelar-desactivado {
  border-color: var(--cancelar-desactivado) !important;
}

.borde-cancelar-activado {
  border-color: var(--cancelar-activado) !important;
}

.borde-punteado {
  border: 1px dashed #000; /* Puedes ajustar el color y el grosor según tus necesidades */
}

.conte-sort {
  min-height: 0px;
}

.altura-min-conte-sort-edge{
  min-height: 3px;
}

/* Login */
.login-contenedor {  
  max-width: 500px;
  border-radius: 20px;
  border: 0.5px solid #5E5858;
}

.register-contenedor
{  
  max-width: 460px;
  border-radius: 20px;
  border: 0.5px solid #5E5858;
}
/* Componenetes */

.btn-guardar{
  width: auto; 
  font-size: medium; 
  color: #676767; 
  font-weight: 400; 
  background-color: #D5F5E2;
  border-radius: 10px;
}

.btn-aceptado {
  color: #fff;
  background-color: var(--aceptado-activado);
  border-color: var(--aceptado-activado);
  font-weight: bold;
  border-radius: 10px;
  font-size: 17px; 
}

.btn-aceptado:hover {
  color: #fff;
  background-color: var(--aceptado-hover);
  border-color: var(--aceptado-hover);
}

.btn-aceptado:focus, .btn-aceptado.focus {
  box-shadow: 0 0 0 0.0rem var(--aceptado-hover);
}

.btn-aceptado.disabled, .btn-aceptado:disabled {
  color: #fff;
  background-color: #a7a7a7;
  border-color: #a7a7a7;
}

.btn-aceptado:not(:disabled):not(.disabled):active, .btn-aceptado:not(:disabled):not(.disabled).active,
.show > .btn-aceptado.dropdown-toggle {
  color: #fff;
  background-color: var(--aceptado-hover);
  border-color: var(--aceptado-hover);
}

.btn-aceptado:not(:disabled):not(.disabled):active:focus, .btn-aceptado:not(:disabled):not(.disabled).active:focus,
.show > .btn-aceptado.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--aceptado-hover);
}

/* btn-pagina-tenue */

.btn-pagina-tenue {
  color: #fff; 
  background-color: var(--pagina-tenue); 
  border-color: var(--pagina-tenue); 
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0.5rem;
}

.btn-pagina-tenue:hover {
  /* Estilos para el estado hover (al pasar el cursor sobre el botón) */
  background-color: var(--pagina-principal);
  border-color: var(--pagina-principal);
  color: #fff; 
}

.btn-pagina-tenue:focus,
.btn-pagina-tenue.focus {
  /* Estilos para el estado de enfoque (al hacer clic en el botón) */
  box-shadow: 0 0 0 0.0rem var(--pagina-tenue); 
}

.btn-pagina-tenue:active,
.btn-pagina-tenue.active {
  /* Estilos para el estado activo (al presionar el botón) */
  background-color: var(--pagina-tenue); 
  border-color: var(--pagina-tenue); 
}

/* Estilo para el checkbox principal */
.checkbox-principal.form-check-input:checked {
  background-color: var(--pagina-principal);
  border-color: var(--pagina-fuerte);
}

.checkbox-principal.form-check-input:checked:focus {
  box-shadow: 0 0 0 0.25rem var(--pagina-fuerte);
}

.checkbox-principal.form-check-input:checked:hover {
  background-color: var(--pagina-principal);
  border-color: var(--pagina-principal);
}

/* Estilo para el label (etiqueta) del checkbox principal */
.checkbox-principal.form-check-label {
  color: var(--pagina-fuerte);
}

.checkbox-principal.form-check-input:disabled {
  background-color: var(--pagina-principal);
  opacity: 0.65;
}

.handle {
  cursor: move;  
}

.handle2 {
  cursor: move;  
}

.handle3 {
  cursor: move;  
}

.nav .nav-link.active {
  border-left: 12px solid var(--pagina-principal); 
  background-color: var(--pagina-fuerte);
}



.nav-pills-opciones .nav-link.active{
  /* border-left: 12px solid var(--pagina-principal);  */
  background-color: #F9EDEB;
  color: #676767;
  box-shadow: 0px 2px 1px #e1e1e1;

}

.confpage-ul a {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-bottom: 0.7rem;
}

.nopadding {
  padding: 0 !important;  
}

.nomargin {  
  margin: 0 !important;
}

.line-height-normal {
  line-height: normal; /* O el valor que desees para el line-height */
}

a {
  color: #007bff; /* Color del enlace normal */
  text-decoration: none; /* Eliminar subrayado de los enlaces */  
}

/* Clase para fuente normal */
.font-normal {
  font-weight: normal;
}

/* Clase para fuente en negrita */
.font-bold {
  font-weight: bold;
}

/* Clase para fuente semi-bold */
.font-semi-bold {
  font-weight: 600;
}

/* Clase para fuente ligera */
.font-light {
  font-weight: lighter;
}

/* Clase para fuente más negrita */
.font-bolder {
  font-weight: bolder;
}

/* Clase para fuente con peso personalizado */
.font-custom-weight {
  font-weight: 700; /* Cambia el valor a tu preferencia */
}

.font-xs {
  font-size: 0.857rem; /* 12px / 14px */
}

.font-sm {
  font-size: 1rem; /* 14px / 14px */
}

.font-md {
  font-size: 1.143rem; /* 16px / 14px */
}

.font-lg {
  font-size: 1.286rem; /* 18px / 14px */
}

.font-xl {
  font-size: 1.429rem; /* 20px / 14px */
}

.font-xxl {
  font-size: 1.857rem; /* 26px / 14px */
}
/*
.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 16px;
}

.font-lg {
  font-size: 18px;
}

.font-xl {
  font-size: 20px;
}

.font-xxl {
  font-size: 26px;
}
*/


.hidden-ready {  
  display:none;
}

.opcion-text {    
  text-align: center;
}

.opcion-digit {
  max-width: 3.5rem;
}

.elem-tipo-select {
  min-width: 6rem;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; /* Combina los bordes de las celdas */
}

/* Estilo para las celdas en el cuerpo de la tabla */
td {    
  padding: 5px; /* Agrega relleno para separar contenido de bordes */  
  overflow: hidden; /* Ocultar el contenido que desborda */
  white-space: nowrap; /* Evitar saltos de línea */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos si se corta el texto */
}

th {    
  padding: 5px; /* Agrega relleno para separar contenido de bordes */  
  overflow: hidden; /* Ocultar el contenido que desborda */
  white-space: nowrap; /* Evitar saltos de línea */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos si se corta el texto */
}

.custom-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.custom-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}