:root {
    /* Color styles */
    --verdeBtns: #D5F5E2;
    --letraGeneral: #676767;
    --bordesCard: #d1d1d1;
    --rosaF: #E4756F;
    --rosaM: #E1B2AF;
    --rosaC: #E9C3C1;
    --cancelar: #DCCBCA;
    --blanco: #FFFFFF;
    --btnActivo: #B9E2C1;
  }

.principal{
    color: var(--letraGeneral);
}
/* Vistas administrador */

/* Configuración - Modalidades */
#btnAgregarMod{
    padding: 6px 0 6px; 
    text-align: center; 
    color: var(--letraGeneral) !important; 
    text-decoration: none; 
    background-color: var(--verdeBtns) !important; 
    font-size: medium; 
    border-radius: 10px;
}

/* Configuración - Agregar modalidad */
.agregarMod{
    font-weight: 600; 
    font-size: 17px;
}
.subtitulo-mod{
    font-weight: bold;
}
.btnEliminar{
    background-color: var(--rosaC);
    color: var(--letraGeneral) !important; 
}
#documentoMod{
    text-align: right; 
    height: 230px;
}

/* Configuración - General */
.subtitulo-config-general{
    font-weight: 500; 
    font-size: 15px;
}
.btnEditar{
    border-radius: 10px;
    background-color: var(--rosaC);
    color: var(--letraGeneral) !important; 
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    font-size: medium !important;
}
#documentoMod{
    text-align: right; 
    height: 230px;
}

.config-general-inputs{
    border-radius: 5px;
    color: var(--letraGeneral) !important; 
    font-size: 15px;
    /* border-color: #a3a3a3; */
    border: 1px solid;
    padding: 5px 5px 5px 5px;
}

/* Documentos Solicitante */
.card-documento-solicitante{
    text-align: center; 
    height: 430px;
    border-radius: 15px; 
    border-color: #d1d1d1;
}

.btnAceptarDocumento{
    background-color: var(--blanco); 
    color: var(--btnActivo);
    width: auto; 
    padding: 6px;
    font-size: medium;
    border-color: var(--letraGeneral); 
    border-radius: 50px; 
    border: 1.5px solid; 
    font-weight: 530;
}

.btnAceptarDocumento:hover{
    background-color: var(--btnActivo); 
    color: var(--blanco);
}

.btnRechazarDocumento{
    background-color: var(--blanco); 
    color: var(--rosaF);
    width: auto; 
    padding: 6px;
    font-size: medium;
    border-color: var(--letraGeneral); 
    border-radius: 50px; 
    border: 1.5px solid; 
    font-weight: 530;
}

.btnRechazarDocumento:hover{
    background-color: var(--rosaF); 
    color: var(--blanco);
}

/* Documentos solicitante - Checkbox */
/* input[type="checkbox"] { 
    display: none;
} */

.checkbox-docs-aceptar{
    height: 35px;
    width: 35px;
    border-radius: 20px !important;
    border-color: var(--btnActivo);
}

.checkbox-docs-rechazar{
    height: 35px;
    width: 35px;
    border-radius: 20px !important;
    border-color: var(--rosaF);
}

.checkbox-docs-aceptar.form-check-input:hover{
    background-color: var(--btnActivo);
}

.checkbox-docs-rechazar.form-check-input:hover{
    background-color: var(--rosaF);
}

.checkbox-docs-aceptar.form-check-input:checked{
    background-color: var(--btnActivo);
    border-color: var(--btnActivo);
}

.checkbox-docs-rechazar.form-check-input:checked{
    background-color: var(--rosaF);
    border-color: var(--rosaF);
}



/* Vistas usuario */
/* Convocatorias - Modalidades */
.tituloModulo{
    font-weight: 600; 
    padding-top: 40px;
}
.card-modalidad{
    text-align: center; 
    height: 320px;
}
.imagen-modalidad{
    width: 170px; 
    padding-bottom: 20px;
}
.btnSolicitar{
    background-color: var(--rosaF); 
    color: var(--blanco);
    width: 170px; 
    border-radius: 50px;
    border-width: 1.5px; 
    font-weight: 530;
}
.btnSolicitar:hover{
    background-color: var(--blanco); 
    color: var(--rosaF);
}


/* Documentos */
.card-documento{
    text-align: center; 
    height: 380px;
    border-radius: 15px; 
    border-color: #d1d1d1;
}
#tituloCard{
    font-weight:600; 
    padding-bottom: 0px;
}
#contenidoCard{
    font-weight: 400; 
    padding-top: 0px; 
    padding-bottom: 0px;
}
#previewDoc{
    height: 200px; 
    color: var(--letraGeneral);;
}

.btnSubirDoc{
    background-color: var(--blanco);; 
    color: var(--rosaM);
    width: 170px; 
    padding: 6px;
    font-size: medium;
    border-color: var(--rosaM); 
    border-radius: 50px; 
    border: 1.5px solid; 
    font-weight: 530;
    overflow: hidden; 
    white-space: nowrap;
    /* display: block; Este lo bloquee ya que hace que el botón no esté centrado*/
    text-overflow: ellipsis;
}
.btnSubirDoc:hover{
    background-color: var(--rosaM);
    color: var(--blanco); 
}

input[id="files"] { /*Desaparece los botones que trae por defecto django, pero solo los botones de la vista de subir documentos. */
    display: none;
} 

.btnSubirDocs{
    background-color: var(--btnActivo);
    color: #676767;
    color: var(--blanco); 
    width: auto;
    border-radius: 50px; 
    border-width: 1.5px; 
    font-weight: 530;
}

.btnSubirDocs:hover{
    background-color: var(--blanco);
    color: var(--btnActivo);
    border-color: var(--btnActivo);
}

.btnCancelar{
    background-color: #DFDFDF;
    color: #A8A8A8; 
    width: 170px;
    border-radius: 50px; 
    border-width: 1.5px; 
    font-weight: 530;
}
.btnCancelar:hover{
    background-color: #F0F0F0;
    color: #C9C9C9; 
}

.seccion-sidebar.active{
    border-left: 10px solid var(--rosaF);
}

/* Footer */

.section-footer{
    background-color: var(--rosaM);
}

@media (min-width: 768px){
    .section-footer__row__col:first-child{
        order: 1;
        text-align: center;
    }
    .section-.section-footer__row__col{
        text-align: left;
    }
}

.section-footer__row__col{
    padding: 0 20px;
    flex-basis: auto;
    display: inline-block;
}

.section-footer__icons{
    margin-top: 0; 
    padding: 0; 
    list-style: none; 
    line-height: 1.6; 
    margin-bottom: 0;
    text-align: right;
}

.section-footer__list{
    margin-top: 0; 
    padding: 0; 
    list-style: none; 
    line-height: 1.6; 
    margin-bottom: 0;
    text-align: right;
}

.list-section-footer{
    margin: 0;
}
.list-section-footer-object{
    display: inline-block;
    padding: 0 15px;
}