<div id='contenedor-notificacion' class="overflow-auto">
    <!-- Aquí se cargará la paginación a través de AJAX -->    
</div>
<form id="csrf-form">
    {% csrf_token %}
</form>
<script>
    var loading = false;
    var page = 1;  
    const nurl = "{% url 'mensajes:cNotif'%}"

    function loadMore() {        
        if (!loading && page != null) {
            loading = true;
            $.ajax({
                url: nurl,  
                data: { page: page },      
                dataType: 'json',          
                success: function(data) {                                      
                    $('#contenedor-notificacion').append(data.html_response);                    
                    
                    page = data.next_page;                    
                },
                error: function () {
                    console.log('Ha ocurrido un error al Asignar puntuacion a municipio.');
                },
                complete: function() {                    
                    loading = false;
                }
            });
        } 
    }

    function marcarLeido(source){        
        
        var notificationId = $(source).data('notification-id');        
        var csrfToken = $("#csrf-form input[name='csrfmiddlewaretoken']").val();
        // Realizar una solicitud AJAX para marcar la notificación como leída
        $.ajax({
            type: "POST",
            url: "{% url 'mensajes:MLNotif' %}",  // Ajusta la URL de tu vista Django
            data: {
                'notification_id': notificationId,
                'csrfmiddlewaretoken': csrfToken
            },
            success: function (data) {
                // Manejar la respuesta del servidor si es necesario
                console.log('Notificación marcada como leída');
            },
            error: function () {
                console.error('Error al marcar la notificación como leída');
            }
        });
    }

    function resetMessages() {
        // Reiniciar el contenedor de mensajes
        $('#contenedor-notificacion').empty();
        // Reiniciar el contador o cualquier otra variable relacionada
        page = 1;
        // Cargar mensajes desde el inicio
        loadMore();
    }

    $(document).ready(function() {        
        // Carga inicial
        var primeraCarga = false;
        $("#boton-mensajes").click(function() {
            $("#barraMensajes").toggle(); // Alternar visibilidad
            if (mobil){
                $('#barraLateral-containter').collapse('toggle');
            }
            if (!primeraCarga) {
                loadMore();
                primeraCarga = true; // Marcar que la función se ha ejecutado
            }
        });
        
        
        $('#contenedor-notificacion').on('scroll', function(e){
            var t = $(this);            
            if ((t[0].scrollHeight - t.scrollTop() - t.outerHeight()) < 5) {
            //if ((t.outerHeight() - $(window).scrollTop() - $(window).height() ) < 5) {                
                loadMore();
            } 
        });
        
    });
</script>