{% comment %} 
Plantilla base para generar vistas de estadisticas con envolvimiento automatico 
no es necesario heredar de ella si se busca otra cosa o se quiere contruir la propia desde 0
{% endcomment %} 

{% load static %}
<style>    
    

</style>

<div id="container" class="contenedor-mosaico">
    <div class="tile">
        <img src="{% static 'images/iconCozcyt.png' %}">
    </div>
    <div class="tile">
        <img src="{% static 'images/iconCozcyt.png' %}">
    </div>
    <div class="tile">
        <img src="{% static 'images/iconCozcyt.png' %}">
    </div>
    <div class="tile">
        <img src="{% static 'images/iconCozcyt.png' %}">
    </div>
    <div class="tile">
        <img src="{% static 'images/iconCozcyt.png' %}">
    </div>
</div>