{% extends 'base.html' %}

{% block titulo %}
Estadisticas
{% endblock titulo %}

{% block body %}    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

    <div class="row align-items-center m-0">
        <p class="col h2 mx-3 mt-4">Estadisticas</p>
                
    </div>

    <div class="mb-3 mx-0 py-4 ps-3 pe-0 horizontal-scroll">
        <div class="row flex-nowrap m-0 p-0">
            {% for tarjetaDict in tarjetasEstadisticas %}
                <button id="tarjetaEst-{{ forloop.counter0 }}" 
                class="tarjetaContenedor mx-2 border text-start texto-negro borde-pagina-principal px-3" style="flex: 0 0 15rem; border-radius: 15px; background-color: rgb({{ tarjetaDict.rgb.0 }}, {{ tarjetaDict.rgb.1 }}, {{ tarjetaDict.rgb.2 }});" 
                onclick="moverTarjeta(this)" data-ajax-url="{% url tarjetaDict.url %}">
                    <p class="font-semi-bold font-xxl m-0 mt-2 p-0">
                        <i class="fa {{ tarjetaDict.iconCSS }}" aria-hidden="true"></i>
                    </p>
                    <p class="font-semi-bold font-md mb-1">{{ tarjetaDict.titulo }}</p>
                    <p class="font-bold font-lg">{{ tarjetaDict.valor }}</p>
                </button>
            {% endfor %}
        </div>
    </div>
    <div id="contenedor-estadistica" class="mx-3 mb-2">

    </div>

    <script>
        function moverTarjeta(elemento) {
            // Obtener todos los elementos con la clase tarjetaContenedor
            var tarjetas = document.getElementsByClassName('tarjetaContenedor');
    
            // Establecer la transformación a la posición original para todos los elementos
            for (var i = 0; i < tarjetas.length; i++) {
                tarjetas[i].style.transform = 'translateY(0)';
            }            
            // Calcular la cantidad que el elemento debe moverse hacia arriba
            const desplazamiento = -20; // Puedes ajustar esto según tus necesidades
    
            // Establecer la transformación para el elemento clicado
                     
            elemento.style.transform = `translateY(${desplazamiento}px)`;
            var ajaxUrl = elemento.getAttribute('data-ajax-url');
            cargarEstadistica(ajaxUrl);
        }

        function cargarEstadistica(url, datos) {           
            $.ajax({
                url: url,
                type: 'GET',
                data: datos, // Enviar los datos con la solicitud
                success: function(data) {
                    $('#contenedor-estadistica').html(data)
                    // Insertar la vista en el panel o realizar otras acciones
                },
                error: function(error) {
                    console.error('Error al cargar la estadistica:', error);
                }
            });
        }

        $(document).ready(function() {
            moverTarjeta($('#tarjetaEst-0')[0]);
            
        });
    </script>

{% endblock body %}