{% load static %}
{% load custom_filters %}
<meta charset="utf-8">    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>    

<!-- Option 1: Bootstrap Bundle with Popper -->    

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


<!-- Bootstrap and CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link href="{% static 'css/modalidades.css' %}" rel="stylesheet">   
<link href="{% static 'css/colores.css' %}" rel="stylesheet">   
<link rel="shortcut icon" type="image/png" href="{{ 'favicon.png'|static_image }}?v={{ cache_version }}"/>        
<link href="{% static 'css/jquery.toast.css' %}" rel="stylesheet"> 

<!-- ESTILO DE COLORES -->
<link rel="stylesheet" type="text/css" href="{% url 'usuarios:colores' %}?v={{ cache_version }}">

<!-- SwiperJS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@1.9.4"></script>    
