<!doctype html>
<html lang="en" >
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>    

    <!-- Option 1: Bootstrap Bundle with Popper -->    
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js" integrity="sha384-q9CRHqZndzlxGLOj+xrdLDJa9ittGte1NksRmgJKeCV9DrM7Kz868XYqsKWPpAmn" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/modalidades.css' %}" rel="stylesheet">   
    <link href="{% static 'css/colores.css' %}" rel="stylesheet">   

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="{% static 'css/jquery.toast.css' %}" rel="stylesheet"> 
    
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <title>
        {% block titulo %}    
          
        {% endblock titulo %}
    </title>
  </head>

  <body class="hidden-ready">
    {% include "mensajes.html" %}
    {% include "custom_confirm.html" %}
    <div >
      <div class="modal fade" id="modal-base-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="modal-base-cont" class="modal-dialog modal-dialog-centered" role="document">
          {% include "modal_base.html" %}
        </div>
      </div>
    </div>
    

    <!-- Seccion de la barra lateral  -->    
    <div class="container-fluid" style="padding: 0px;">
      <div class="row flex-nowrap" style="margin: 0px; ">
        <button id="menu-show-button" class="btn btnConvocatoria menu-button-float w-auto h-auto font-lg" type="button" data-bs-toggle="collapse" data-bs-target="#barraLateral-containter">
          <i class="fa fa-bars align-self-center" aria-hidden="true"></i>
        </button>
        <div id="barraLateral-containter" class="col-auto nopadding collapse collapse-horizontal">          
          <div id="barraLateral-body" class="barra-lateral-desktop sticky-top d-flex flex-column justify-content-between flex-shrink-0 p-3 barra-lateral-fondo border-end border-1">            
            <a href="{% url 'usuarios:rootRedirect' %}" class="d-flex flex-column align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
              <img class="img-fluid logo-barra my-2" src="{% static 'images/LogoCozcyt.png' %}" alt="Logo" > 
            </a>
            <hr>
            {% with url_name=request.resolver_match.url_name %}
            <ul class="nav nav-pills flex-column mb-auto ">              
              {% if perms.usuarios.permiso_administrador and request.user.is_superuser == 1 %}
              <li class="nav-item">
                <div class="seccion-sidebar {% if url_name == 'AInicio' %}active{% endif %} h4">
                  <a href="{% url 'usuarios:AInicio' %}" class="nav-link d-flex link-dark h4">
                    <i class="fa fa-shield px-2 align-self-center" aria-hidden="true"> </i>
                    Inicio
                  </a>
                </div>
              </li>
              <li class="nav-item">
                <div class="seccion-sidebar {% if url_name == 'ASolicitudes' %}active{% endif %} h4">
                  <a href="{% url 'solicitudes:ASolicitudes' %}" class="nav-link d-flex link-dark  h4">
                    <i class="fa fa-list-ul px-2 align-self-center" aria-hidden="true"> </i>
                    Solicitudes
                  </a>
                </div> 
              </li>
              <li class="nav-item">
                <div class="seccion-sidebar {% if url_name == 'AEstadisticas' %}active{% endif %} h4">
                  <a href="{% url 'solicitudes:AEstadisticas' %}" class="nav-link d-flex link-dark  h4">
                    <i class="fa fa-bar-chart px-2 align-self-center" aria-hidden="true"> </i>
                    Estadisticas
                  </a>
                </div> 
              </li>
              <li class="nav-item">
                <div class="seccion-sidebar {% if url_name == 'AUsuarios' %}active{% endif %} h4">
                  <a href="{% url 'usuarios:AUsuarios' %}" class="nav-link d-flex link-dark h4">
                    <i class="fa fa-users px-2 align-self-center" aria-hidden="true"> </i>
                    Lista Usuarios
                  </a>
                </div>
              </li>
              <li class="nav-item">
                <div class="seccion-sidebar {% if 'onfig' in url_name %}active{% endif %} h4">
                  <a href="{% url 'modalidades:AConfigGeneral' %}" class="nav-link d-flex link-dark h4">
                    <i class="fa fa-cog px-2 align-self-center" aria-hidden="true"> </i>
                    Configuracion
                  </a>
                </div>
              </li>

              {% else %}
              <li class="nav-item">
                <div class="seccion-sidebar {% if url_name == 'perfil' %}active{% endif %} h4">
                  <a href="{% url 'usuarios:perfil' %}" class="nav-link d-flex link-dark h4" aria-current="page">
                    <i class="fa fa-user-circle px-2 align-self-center" aria-hidden="true"> </i>
                    Perfil
                  </a>
                </div>
              </li>
              <li class="nav-item">
                <div class="seccion-sidebar">
                  <button id="boton-mensajes" class="nav-link d-flex link-dark pe-auto h4 btn-barra-lateral full-width-btn align-items-center position-relative">
                    <i class="fa fa-envelope px-2 align-self-center" aria-hidden="true"></i>
                    Mensajes&nbsp;
                    <!-- Agrega el badge de Bootstrap aquí -->
                    <span id="badge-mensajes" class="badge bg-danger font-xxs rounded-circle translate-middle"></span>
                  </button>
                </div>
              </li>
              <li class="nav-item">
                <div class="seccion-sidebar {% if 'onvocatoria' in url_name %}active{% endif %} h4">
                  <a href="{% url 'solicitudes:convocatorias' %}" class="nav-link d-flex link-dark h4">
                    <i class="fa fa-list-alt px-2 align-self-center" aria-hidden="true"> </i>
                    Convocatoria
                  </a>
                </div>
              </li>
              <li class="nav-item ">
                <div class="seccion-sidebar {% if url_name == 'estudioSE' %}active{% endif %} h4">
                  <a href="{% url 'estudioSE:estudioSE' %}" class="nav-link d-flex link-dark h4" style="text-align: left;">
                    <i class="fa fa-id-card-o px-2 align-self-center" aria-hidden="true"> </i>
                    Estudio Socioeconómico
                  </a>
                </div> 
              </li>
              <li class="nav-item">
                <div class="seccion-sidebar {% if url_name == 'historial' %}active{% endif %} h4">
                  <a href="{% url 'solicitudes:historial' %}" class="nav-link d-flex link-dark h4">
                    <i class="fa fa-clock-o px-2 align-self-center" aria-hidden="true"> </i>
                    Historial
                  </a>
                </div>
              </li>
              {% endif %}
            </ul>
            {% endwith %}
            <hr>
            <div >  
              <a href="{% url 'usuarios:logout' %}" class="link-dark h6">           
                <i class="fa fa-sign-out px-2 align-self-center" aria-hidden="true"> </i>
                <strong>Cerrar sesión  </strong>    
              </a>        
            </div>
          </div>
        </div>

        {% if not perms.usuarios.permiso_administrador or not request.user.is_superuser == 1 %}
          <div id="barraMensajes" class="col-auto nopadding" style="display: none;">
            <div id="barraMensajes-body" class="barra-mensajes-desktop fixed-top d-flex flex-column border-end border-2 
            justify-content-between flex-shrink-0 p-1 barra-lateral-fondo" >
              
              {% include 'solicitante/contenedor_notif.html' %}         

            </div>
          </div>
        {% endif %}

        <div class="col nopadding nomargin d-flex flex-column justify-content-between overflow-auto" style="min-height: 100vh;">
          <div class="mb-auto ">

            {% block body %}
            {% endblock body %}

          </div>
                    
          <!-- Pie de pagina -->
          <footer>
            <div class="section-footer container-fluid">
              <div class="section-footer__row" style="padding: 5px;">
                <div class="section-footer__row__col" style="padding: 5px 0 0 0; float: right;">
                  <div class="section-footer__icons" style="padding: 0 0 5px 0;">
                    <img  src="{% static 'images/LogosLabsol2023-02.png' %}" title="Laboratorio de Software Libre Network" width="70" style="margin: 0 20px;">
                    <img src="{% static 'images/GPLv3_Logo.svg.png' %}" title="GNU General Public License v.3." width="50" style="margin: 0 20px;"> 
                  </div>
                  <div class="section-footer__list">
                    <ul class="list-section-footer">
                      <li class="list-section-footer-object">
                        <a href="" style="color: #fff;">Acerca de </a>
                      </li>
                      <li class="list-section-footer-object">
                        <a href="" style="color: #fff;">Manual de usuario </a>
                      </li>
                      <li class="list-section-footer-object">
                        <a href="" style="color: #fff;">Mapa del sitio </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="section-footer__row__col" style="padding: 10px;">
                  <div>
                    <p class=" nomargin" style="color: #fff;">
                      © 2023 
                      <a href="https://labsol.cozcyt.gob.mx/" style="color: #fff;"> Labsol Network.</a>
                    </p>
                      <a href="https://www.gnu.org/licenses/gpl-3.0.html" style="color: #fff;"> Bajo licencia GPL v.3.</a>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>                
      </div>
    </div>
        <!--  -->
    {% include 'base_custom_js.html' %}

    {% if not perms.usuarios.permiso_administrador or not request.user.is_superuser == 1 %}
      {% include 'base_solicitante_js.html' %}
    {% endif %}

    <script>
      function isMobile() {
        return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
      }
      var mobil = isMobile()

      function updateMobile() {
        mobil = isMobile()
        console.log(mobil)
        if (mobil){
          $('#menu-show-button').show()
          $('#barraLateral-body').removeClass('barra-lateral-desktop');
          $('#barraLateral-body').addClass('barra-lateral-movil');
          $('#barraLateral-containter').addClass('collapse barra-lateral-container-movil');

          $('#barraMensajes-body').removeClass('barra-mensajes-desktop');          
          $('#barraMensajes-body').addClass('barra-mensajes-movil');
        }else {
          $('#menu-show-button').hide()
          $('#barraLateral-body').removeClass('barra-lateral-movil');          
          $('#barraLateral-body').addClass('barra-lateral-desktop');
          $('#barraLateral-containter').removeClass('collapse barra-lateral-container-movil');

          $('#barraMensajes-body').removeClass('barra-mensajes-movil');          
          $('#barraMensajes-body').addClass('barra-mensajes-desktop');
        }
      }       
      
      updateMobile();
      window.onresize = updateMobile;

    </script>

  </body>
</html>