<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    {% include 'base_head.html'%}
    <title>
        {% block titulo %}    
          
        {% endblock titulo %}
    </title>
    {% block head %}

    {% endblock head %}
  </head>

  <body class="pagina-fondo">
    {% include "mensajes.html" %}   
    {% include "custom_confirm.html" %}
    <div >
      <div class="modal fade" id="modal-base-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="modal-base-cont" class="modal-dialog modal-dialog-centered" role="document">
          {% include "modal_base.html" %}
        </div>
      </div>
    </div>
    <!-- Seccion de la barra lateral  -->
    <div class="container-fluid p-0" >
      <div class="col nopadding nomargin d-flex flex-column justify-content-between overflow-auto" style="min-height: 100vh;">
        {% block top %}
        {% endblock top %}
        <div class="mb-auto red-errors ">
          {% block body %}
          {% endblock body %}
        </div>
        {% include 'footer.html' %}
      </div>
    </div>

    
    {% include 'base_custom_js.html' %}

    
  </body>
  
</html>