<script> 

  function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : evt.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
    return true;
  }

  function isNumberPuntKey(evt) {
    var charCode = (evt.which) ? evt.which : evt.keyCode
    if (charCode === 46 || charCode === 58) 
      return true;
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
    return true;
  }

  function updateTooltips(){
      $('[data-bs-original-title]').each(function(){
          $(this).tooltip('update');
      });
  }

  //funcion para permitir que los dropdown se muestren fuera de contenedores con anti overflow
  $(".desplegable").each(function(el,index) {
    var parent, dropdownMenu, left, top;
    $(this).on('show.bs.dropdown',function(){
        parent = $(this).parent();
        dropdownMenu = $(this).find('.dropdown-menu');
        left = dropdownMenu.offset().left -  $(window).scrollLeft();
        top = dropdownMenu.offset().top - $(window).scrollLeft();

        $('body').append(dropdownMenu.css({
            position:'fixed',
            left: left, 
            top: top
        }).detach());
    })

    $(this).on('hidden.bs.dropdown',function(){
        $(this).append(dropdownMenu.css({
            position:'absolute', left:false, top:false
        }).detach());
    })
  })

  $(document).ready(function() {      
    updateTooltips();
        
    $('.hidden-ready').removeClass('hidden-ready');
    $('#modal-base-modal').modal('hide');
  });

    

  </script>