<form method="post">
    {% csrf_token %}
    <div class="row my-3 mb-5 justify-content-center">
        <p class="h6 font-md">
            Municipios
        </p>     
        <div class="col-4 text-center">
            {% for hidden in mpForm.hidden_fields %}
                {{ hidden }}
                <div class="text-danger">
                    {{ hidden.errors }}
                </div>  
            {% endfor %}    
            {{ mpForm.estado }}
            <div class="text-danger">
                {{ mpForm.estado.errors  }}            
            </div> 
        </div>
        <div class="col-4 text-center">
            {{ mpForm.municipio }}
            <div class="text-danger">
                {{ mpForm.municipio.errors  }}            
            </div> 
        </div>
        <div class="col-auto text-center">
            {{ mpForm.puntos }}
            <div class="text-danger">
                {{ mpForm.puntos.errors  }}
                {{ mpForm.non_field_errors  }}
            </div> 
        </div>
    </div>
    
</form>
