{% extends 'base.html' %}
{% load custom_filters %}   

{% block titulo %}
    Convocatoria
{% endblock titulo %}

{% block body %}
    <div class="rounded-2 p-1 mx-4 principal">
        <div class="rounded-2 mx-4">
            <div class="row">
                <p class="col h3 tituloModulo" id="ciclo-escolar">
                    Convocatoria {{ciclo_actual}}
                    <span class="m-3 font-sm texto-rosaM"> {{ convocatoria.mensaje_estado_convocatoria }} </span>
                </p>
                <!-- <hr> -->
            </div>
            <div class="row">
                <p class="col h5" style="font-weight: 400; padding-top: 10px">Modalidades</p>
                <hr>
                <!-- <hr> -->
            </div>
        </div>
        <div class="rounded-2 mx-4">          
            <div class="row">
                {% for modalidad in modalidades%}                                
                <div class="col-md-4" style="padding-top: 10px; padding-bottom: 10px;" >
                    <!-- {{modalidad.tipo}}{{solicitante.es_renovacion}} -->
                    <div class="card" data-bs-original-title="{{ modalidad.descripcion }}">
                        <div class="card-body card-modalidad">
                            <h5 class="card-title">{{modalidad.nombre}}</h5>
                            <img  class="imagen-modalidad" src="{{ modalidad.imagen.url }}" alt="Card image cap">
                            <br>
                            {% if modalidad.pk == solicitud_existe.modalidad.pk %} 
                            <div style="padding-bottom: 10px;">
                                <a href="{% url 'solicitudes:documentos_convocatoria' modalidad.id %}">
                                    <button href="{% url 'solicitudes:documentos_convocatoria' modalidad.id %}" class="btn btnConvocatoria">
                                    Mis documentos
                                    </button>
                                </a>
                            </div>
                            {% elif fecha_convocatoria and not solicitud_existe%}
                            <div style="padding-bottom: 10px;">
                                <a href="{% url 'solicitudes:documentos_convocatoria' modalidad.id %}">
                                    <button href="{% url 'solicitudes:documentos_convocatoria' modalidad.id %}" class="btn btnConvocatoria">
                                    Solicitar
                                    </button>
                                </a>
                            </div>
                            {% else %}
                            <div style="padding-bottom: 10px;">
                                <button class="btn btnConvocatoria" disabled>
                                Solicitar
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>                                
                {% endfor %}
            </div>
        </div>
    </div>    
    <script>

    </script>
{% endblock body %}