{% extends 'base.html' %}

{% block titulo %}
    Documentos
{% endblock titulo %}

{% block body %}
    <div class="rounded-2 p-1 mx-4 principal">
        <div class="rounded-2 mx-4">
            <div class="row">
                <p class="col h3 tituloModulo">
                    Mis documentos <i>{{ modalidad.nombre }}</i>
                </p>
                <div class="h5 a fa-user-info px-3 align-self-center modalidad-descripcion">
                    {{ modalidad.descripcion}}
                </div>
                <!-- <hr> -->
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="rounded-2 mx-4" style="padding-top: 10px; padding-bottom: 20px;">          
                <div class="row">
                    {% for documento, documentoRespForm in listaDocumentos %}
                    <div class="col-md-4 red-errors" style="padding-top: 10px; padding-bottom: 20px;">
                        <div class="card card-documento">
                            <div class="card-body" id="{{documento.id}}">
                                <p class="text-center font-semi-bold" {% if documentoRespForm.instance.estado == 'aprobado' %} style="color: var(--btnActivo2);" {% elif documentoRespForm.instance.estado == 'denegado' %} style="color: var(--rosaF);" {% endif %} >{{ documentoRespForm.instance.estado }}</p>
                                <a class="principal " {% if documentoRespForm.instance.id %} href="{% url 'solicitudes:verPdf' solicitud.id documentoRespForm.instance.id %}" target="_blank" {% else %} href="#" {% endif %} >
                                    <div class="row " style="height: auto;">
                                        <h5 class="card-title" id="tituloCard">{{ documento.nombre }}</h5>                                    
                                        <h8 class="card-title" id="contenidoCard">{{ documento.descripcion}}</h8>
                                        
                                    </div>
                                    <div class="row" style="padding-bottom: 10px;">
                                        <!-- Aquí la preview del documento antes de ser subido a la plataforma -->
                                        
                                            <div class="card p-0" id="previewDoc">
                                                {% if documentoRespForm.instance.id %}
                                                    <iframe src="{% url 'solicitudes:verPdf' solicitud.id documentoRespForm.instance.id %}" type="application/pdf" height="500"></iframe>                                        
                                                {% else %}
                                                    <p class="text-center text-nofile"> La respuesta a este documento no existe. </p>
                                                    <iframe src="" type="application/pdf" height="500"></iframe>                                        
                                                {% endif %}
                                            </div>
                                        
                                    </div>
                                </a>
                                    
                                <div class="subir-documento" style="padding-bottom: 10px;">
                                    <button style="width: 100%;" type="button" class="btnSubirDoc"> {% if documentoRespForm.instance.id %} {{ documentoRespForm.instance.filename }} {% else %} Subir documentos {% endif %}</button>                                    
                                    {{ documentoRespForm.file }}                                    
                                    <!-- <input type="button" value="Preview" onclick="PreviewFile();" /> -->
                                </div>
                            </div>
                        </div>
                        {{ documentoRespForm.file.errors }}
                    </div>
                    {% endfor %}
                </div>
                <div class="row" style="text-align: center; padding-top: 10px; padding-bottom: 20px;">
                    <div class="col-md" style="padding-top: 10px; padding-bottom: 10px;">
                        <a href="{% url 'solicitudes:convocatorias' %}" class="btn btnCancelar">
                            Cancelar
                        </a>
                    </div>
                    <div class="col-md" style="padding-top: 10px; padding-bottom: 10px;">
                        {% if convocatoria.fecha_convocatoria %}
                        <button type="submit" class="btn btnSubirDocs" name="guardar">Actualizar documentos</button>
                        {% else %}
                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        // document.querySelector("#files").onchange = function() {
        // const fileName = this.files[0]?.name;
        // const label = document.querySelector("label[for=files]");
        // label.innerText = fileName ?? "Subir documentos";
        // };
        const fileBlocks = document.querySelectorAll('.subir-documento')
        const buttons = document.querySelectorAll('.btnSubirDoc')

        ;[...buttons].forEach(function (btn) {
        btn.onclick = function () {
            btn.parentElement.querySelector('input[type="file"]').click()
        }
        })

        ;[...fileBlocks].forEach(function (block) {
        block.querySelector('input[type="file"]').onchange = function () {
            const filename = this.files[0].name

            block.querySelector('.btnSubirDoc').textContent = filename
        }
        })
        
        $('.pdfInput').change(function() {            
            var file = this.files[0];            
            var reader = new FileReader();
            var frame = $(this).closest('.card-body').find('iframe');                        
            $(this).closest('.card-body').find('.text-nofile').remove(); 
            reader.onload = function (e) {                
                frame.attr('src', e.target.result).show();
            };
            reader.readAsDataURL(file);
        });

    </script>
    <script>
        // function PreviewFile() {
        //     pdffile=document.getElementById("files").files[0];
        //     pdffile_url=URL.createObjectURL(pdffile);
        //     $('#viewer').attr('src',pdffile_url);
        // }
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% endblock body %}